description = "Default layout"

[localePicker]
forceUrl = 1

[seo]
append = "| Goline"
==
<?php
use Bonniss26\Company\Models\CompanyInfo;
    use Illuminate\Support\Facades\Cache;
    use Illuminate\Support\Facades\Log;

    function onStart() {
        $this['_gTheme_'] = $this['this']['theme'];
        $ci = 'gComp';
        $cacheKey = 'g__company_info';
        if(Cache::has($cacheKey)) {
            $this[$ci] = Cache::get($cacheKey);
        } else {
            $this[$ci] = Cache::rememberForever($cacheKey, function () {
                return CompanyInfo::first()->toArray();
            });
            Log::info('Company info read from DB');
        }
    }
?>
==
<!DOCTYPE html>
{% htmlcompress %}
<html lang="{{activeLocale}}">
    <head>
        <meta charset="utf-8">

        <title>{{this.page.meta_title}}</title>
        <meta name="description" content="{{this.page.meta_description}}">
        <meta name="keywords" content="{{this.page.meta_keywords}}">
        <meta name="title" content="{{this.page.meta_title}}">
        <meta name="author" content="bonniss26">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{(gComp['favicon'] ? gComp['favicon'] : gComp['logo1'])|media}}">

        {# Social Meta Tags #}
        <meta property="og:title" content="{{this.page.meta_title}}">
        <meta property="og:description" content="{{this.page.meta_description}}">
        <meta name="twitter:title" content="{{this.page.meta_title}}">
        <meta name="twitter:description" content="{{this.page.meta_description}}">

        <meta property="og:url" itemprop="url" content="{{config('app.url')}}">
        <meta name="twitter:url" content="{{config('app.url')}}">

        {% if this.page.seo_image %}
          {% set seoImage = this.page.seo_image.getPath() %}
          <meta property="og:image" content="{{seoImage}}">
          <meta name="twitter:image" content="{{seoImage}}">
        {% endif %}

        {# Critical Assets #}
        {% partial 'head/critical' %}

        {% if config('app.debug') %}
          <script defer src="{{'assets/dev/app.js'|theme}}"></script>
          <link rel="stylesheet" href="{{'assets/dev/app.css'|theme}}">
        {% else %}
          <script defer src="{{'assets/dist/app.js'|theme}}"></script>
          <link rel="stylesheet" href="{{'assets/dist/app.css'|theme}}">
        {% endif %}

        <link href="{{[
          'assets/less/anim.less',
          'assets/less/blog.less',
          'assets/less/theme.less'
        ]|theme}}" rel="stylesheet">

        {% styles %}
    </head>
    <body>
      {# Ref: https://stackoverflow.com/a/14271049/6755585 #}
      <div class="app-wrapper relative overflow-x-hidden">
        <!-- HEADER -->
        {% partial 'site/header' %}

        <!-- CONTENT -->
        <main class="app-page-{{this.page.id}}">
            {% page %}
        </main>

        <!-- FOOTER -->
        {% partial 'site/footer' %}
      </div>

      <!-- SCRIPTS -->
      {% scripts %}
    </body>
</html>
{% endhtmlcompress %}