{% set codes = locales|keys %}
<div class="locale-list flex">
  {% for code in codes %}
    <button onclick="switchLocale('{{code}}')" title="{{locales[code]}}">
      <img src="{{('assets/images/locales/' ~ code ~ '.svg')|theme}}" style="height:18px">
    </button>
  {% endfor %}

  {{ form_open() }}
  {{ form_close() }}
</div>
