
{% if _gTheme_.contact_enable_map %}
  <div class="hr my-6 hidden md:block"></div>
  <section class="pt-8 md:pt-0">
    <p class="mb-6">Bản đồ</p>
    {% if _gTheme_.contact_should_embed_map %}
    {# <iframe class="w-full br-10-px border border-gray-500" style="height: 18rem" allowfullscreen="" loading="lazy"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.991346773316!2d105.83236786290388!3d21.0330322365932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4b3f650dab%3A0x3ea93d120be3c8d6!2sKim%20Anh%20Building!5e0!3m2!1sen!2s!4v1625545737871!5m2!1sen!2s"></iframe> #}
      {{_gTheme_.contact_map_embed_html|raw}}
    {% else %}
      <div id="company-location" class="w-full br-10-px border border-gray-400" style="height: 18rem"></div>
      <script>
        let map;
        function initMap() {
          map = new google.maps.Map(document.getElementById("company-location"), {
            center: {
              lat: {{_gTheme_.contact_map_lat}},
              lng: {{_gTheme_.contact_map_lon}},
            },
            zoom: {{_gTheme_.contact_map_zoom}},
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=&v=weekly{% if contact_map_api_key %}&key={{contact_map_api_key}}{% endif %}" async></script>
    {% endif %}
  </section>
{% endif %}