<article class="dt-blog__item-box w-full br-10-px relative overflow-hidden{% if disabled %} disabled{% endif %}">
  <div class="dt-blog__item-box--thumb">
    {% if cat.cover_image %}
      {% set coverImg = cat.cover_image %}
      <img class="mx-auto lazy"
        width="399"
        height="266"
        data-src="{{coverImg.getThumb(399, 266, { mode: 'crop', extension: 'jpg', quality: '80' })}}"
        data-srcset="{{coverImg.getThumb(399, 266, { mode: 'crop', extension: 'jpg', quality: '80' })}} 399w,
                     {{coverImg.getThumb(480, 320, { mode: 'crop', extension: 'jpg', quality: '80' })}} 480w"
        data-sizes="(max-width: 480px) 480px, 399px"
        alt="{{ coverImg.description }}"/>
      {% else %}
      <img class="mx-auto"
        src="{{'assets/images/placeholder.jpg'|theme}}" width="640" height="640"
        alt="{{cat.name}}"/>
    {% endif %}
  </div>
  <div class="dt-blog__item-box--content p-6 absolute inset-x-0 bottom-0 text-white bg-black bg-opacity-50">
    <p class="font-bold text-lg uppercase">{{cat.name}}</p>
  </div>
  <a href="{{cat.url}}" class="dt-blog__item-box--overlay link-ghost p-8 absolute inset-0 z-10 text-white flex flex-col justify-center">
    <h3 class="font-bold text-4xl mb-2 uppercase">{{cat.name}}</h3>
    <p>{{cat.description|raw}}</p>
    {# <div class="text-right absolute inset-x-0 bottom-0 px-4 py-6">
      <a href="{{cat.url}}" role="button" class="px-4 py-2 bg-blue-500 rounded-full">{{'common.detail'|_}}</a>
    </div> #}
  </a>
</article>
