<article class="dt-blog__item-box w-full br-10-px relative overflow-hidden">
  <div class="dt-blog__item-box--thumb">
    {% if post.featured_images.count %}
      {% set coverImg = post.featured_images[0] %}
      <img class="mx-auto lazy"
        width="399"
        height="266"
        data-src="{{coverImg.path|resize(399, 266, { mode: 'crop', extension: 'jpg', quality: '80' })}}"
        data-srcset="{{coverImg.path|resize(399, 266, { mode: 'crop', extension: 'jpg', quality: '80' })}} 399w,
                     {{coverImg.path|resize(480, 320, { mode: 'crop', extension: 'jpg', quality: '80' })}} 480w"
        data-sizes="(max-width: 480px) 480px, 399px"
        alt="{{ coverImg.description }}"/>
      {% else %}
      <img class="mx-auto"
        src="{{'assets/images/placeholder.jpg'|theme}}" width="640" height="640"
        alt="{{post.title}}"/>
    {% endif %}
  </div>
  <div class="dt-blog__item-box--content p-6 absolute inset-x-0 bottom-0 text-white bg-black bg-opacity-50">
    <p class="font-bold text-xl uppercase" style="min-height: 3em">{{post.title}}</p>
  </div>
  <a href="{{post.url}}" class="dt-blog__item-box--overlay link-ghost p-4 absolute inset-0 z-10 text-white flex flex-col justify-center">
    <h3 class="font-bold text-xl mb-3 uppercase">{{post.title}}</h3>
    <p class="text-sm">{{post.excerpt}}</p>
    {# <div class="text-right absolute inset-x-0 bottom-0 px-4 py-6">
      <a href="{{post.url}}" role="button" class="px-4 py-2 bg-blue-500 rounded-full">{{'common.detail'|_}}</a>
    </div> #}
  </a>
</article>
