[viewBag]

[staticMenuMultilingual]
code = "footer-menu"
==
<footer id="site-footer" class="bg-gray-900 text-white text-lg">
  <div class="container px-5 py-10 md:py-20 mx-auto">
    <div class="flex flex-wrap -mx-4">
      <div id="home-contact" class="w-full lg:w-1/2 px-4">
        <picture class="block mb-8">
          <img src="{{gComp['logo2'] ? gComp['logo2']|media : gComp['logo1']|media|resize(270, false, { extension: 'png', quality: '75' })}}"
            width="270"
            height="137"
            alt="Logo {{gComp['name']}}">
        </picture>
        <table>
          <tr>
            <td class="pr-2 align-top	">
              <svg class="inline-block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 9.98892C4.5 9.68033 4.64247 9.38903 4.88606 9.19957L11.3861 4.14401C11.7472 3.86315 12.2528 3.86315 12.6139 4.14401L19.1139 9.19957C19.3575 9.38903 19.5 9.68033 19.5 9.98892V18.6665C19.5 19.587 18.7538 20.3332 17.8333 20.3332H6.16667C5.24619 20.3332 4.5 19.587 4.5 18.6665V9.98892Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.5 20.3333V13C9.5 12.4477 9.94772 12 10.5 12H13.5C14.0523 12 14.5 12.4477 14.5 13V20.3333" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </td>
            <td class="pb-3">
              {% content 'company/address' %}
            </td>
          </tr>
          <tr>
            <td class="pr-2 align-top	">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9994 15.3534V17.8373C21.0015 18.3036 20.7886 18.7491 20.413 19.0643C20.0375 19.3795 19.5341 19.5352 19.0265 19.4933C16.2415 19.2164 13.5664 18.3458 11.216 16.9514C9.0293 15.6802 7.17534 13.9841 5.78581 11.9836C4.25628 9.82356 3.30442 7.36431 3.00735 4.80506C2.96162 4.34212 3.13068 3.88291 3.47323 3.53961C3.81578 3.1963 4.30028 3.00052 4.80837 3.00008H7.52347C8.43201 2.9919 9.20639 3.60116 9.33354 4.42419C9.44814 5.2191 9.66067 5.9996 9.96707 6.75079C10.2157 7.35594 10.0567 8.03813 9.5598 8.49781L9.02305 8.98886C8.66786 9.3138 8.59132 9.84822 8.87084 10.2402C9.99907 11.8221 11.4846 13.1657 13.228 14.1799C13.591 14.3911 14.0468 14.3286 14.3566 14.0451L14.99 13.4656C15.4925 13.0111 16.2382 12.8656 16.8996 13.0931C17.7207 13.3734 18.5739 13.5678 19.4428 13.6726C20.3528 13.7901 21.0222 14.5129 20.9994 15.3534Z" stroke="white"/>
              </svg>
            </td>
            <td class="pb-3">
              {{gComp['tel1']}} - {{gComp['tel2']}}
            </td>
          </tr>
          <tr>
            <td class="pr-2 align-top	">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.9996 11.9999V12.9999C15.9996 14.6567 17.3428 15.9999 18.9996 15.9999C20.6565 15.9999 21.9996 14.6567 21.9996 12.9999V11.9999C21.9993 7.35277 18.7977 3.31828 14.2723 2.26216C9.74676 1.20604 5.0901 3.40665 3.03287 7.57359C0.975646 11.7405 2.06007 16.7755 5.65024 19.7261C9.24042 22.6767 14.3901 22.7653 18.0796 19.9399" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </td>
            <td class="pb-3">
              {{gComp['email']}}
            </td>
          </tr>
        </table>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 px-4 py-10 md:py-20 relative">
        <div class="hidden sm:block partial-vr"></div>
        <ul class="pl-8 lg:pl-12">
          {% for item in menuItems %}
            {% set isHashUrl = item.url starts with '/#' %}
            {% set url = isHashUrl ? ('/' ~ activeLocale ~ '#' ~ item.url[2:]) : item.url %}
            <li class="pb-4">
              {% if isHashUrl %}
                <a data-turbolinks="false"
                  class="block"
                  href="javascript:void(0)"
                  data-target="{{item.url}}"
                  data-href="{{url}}"
                  onclick="smoothScrollHome(this)">{{item.title}}</a>
              {% else %}
                <a data-turbolinks="false"
                  class="block"
                  href="{{url}}">{{item.title}}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 px-4 py-10 md:py-20 relative">
        <div class="hidden sm:block partial-vr"></div>
        <div class="pl-8 lg:pl-12">
          <p class="mb-4">{{'site.footer.followUs'|_}}</p>
          <div>
            <a href="{{gComp['facebook']}}" target="_blank" aria-label="Out facebook">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6 inline-block" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a href="{{gComp['twitter']}}" target="_blank" aria-label="Out twitter" class="ml-10">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6 inline-block" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a href="{{gComp['linkedin']}}" target="_blank" aria-label="Out linkedin" class="ml-10">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-6 h-6 inline-block" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-app-theme">
    <div class="container py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-center sm:text-left">Copyright © {{gComp['legal_name_en']}}</p>
      <span class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center"></span>
    </div>
  </div>
</footer>