[viewBag]

[staticMenuMultilingual]
code = "header-menu"
==
{% set localeRoot = '/' ~ activeLocale %}
<header id="site-header" class="bg-app-theme md:bg-gray-900 fixed top-0 right-0 left-0 z-50">
  <div class="dt-header-inner container flex flex-wrap flex-col items-stretch lg:flex-row">
    <div class="dt-header__brand w-full md:w-auto text-center relative">
      <button onclick="setMobileMenu(true)" aria-label="Mobile menu trigger"
        class="btn-mobile-menu-open p-2 absolute left-0 md:hidden" style="top:25%">
        <img src="{{'assets/images/icons/align-left.svg'|theme}}" width="24" height="20" alt="mobile menu icon">
      </button>
      <div class="dt-header__logo py-2">
        <a href="{{'home'|page}}" class="inline-block">
          <img src="{{gComp['logo1']|media}}" width="98" class="site-header-logo mx-auto" alt="Logo {{gComp['name']}}" />
        </a>
      </div>
    </div>
    <nav id="site-mobile-menu" class="dt-header__nav fixed inset-0 bg-white p-10 z-50 md:p-0 md:bg-transparent md:relative md:flex flex-wrap items-stretch justify-end text-base lg:ml-auto">
      <div class="text-right mb-4 md:hidden">
        <button onclick="setMobileMenu(false)" aria-label="Mobile menu close button"
          class="btn-mobile-menu-close p-2">
          <svg width="28" height="28" class="inline-block" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1419 9.98513L16.8386 4.14001C17.15 3.82055 17.1434 3.30918 16.8239 2.99783C16.5045 2.68648 15.9931 2.69306 15.6817 3.01252L9.98504 8.85765L4.14001 3.16103C3.82055 2.84969 3.30918 2.85626 2.99783 3.17572C2.68648 3.49518 2.69306 4.00655 3.01252 4.3179L8.85756 10.0145L3.16105 15.8594C2.8497 16.1789 2.85627 16.6903 3.17573 17.0016C3.49519 17.313 4.00656 17.3064 4.31791 16.9869L10.0144 11.142L15.8594 16.8386C16.1789 17.1499 16.6903 17.1434 17.0016 16.8239C17.313 16.5044 17.3064 15.9931 16.9869 15.6817L11.1419 9.98513ZM10.8555 9.70595L10.8554 9.70592L16.5521 3.86083C16.7092 3.69957 16.7059 3.44145 16.5447 3.28429C16.4584 3.2002 16.3444 3.16205 16.2329 3.16946C16.3444 3.16203 16.4584 3.20017 16.5447 3.28429C16.706 3.44145 16.7093 3.69957 16.5522 3.86082L10.8555 9.70595ZM10.0072 10.5763L10.0071 10.5764L10.0071 10.5763L10.0071 10.5763L10.0072 10.5763ZM10.2936 10.8555L10.2936 10.8555L16.1387 16.5522C16.1534 16.5665 16.169 16.5795 16.1852 16.5912C16.1689 16.5795 16.1534 16.5665 16.1386 16.5521L10.2936 10.8555ZM9.72796 10.8628L9.72793 10.8628L4.03138 16.7078C3.95834 16.7827 3.86348 16.8235 3.76668 16.83C3.8635 16.8235 3.95839 16.7827 4.03145 16.7078L9.72796 10.8628ZM9.13674 9.72805L3.2917 4.03144C3.13045 3.87428 3.12713 3.61616 3.28429 3.45491C3.39541 3.34089 3.557 3.30583 3.69915 3.35063C3.55701 3.30585 3.39543 3.34091 3.28432 3.45492C3.12716 3.61617 3.13048 3.87429 3.29174 4.03145L9.13675 9.72804L9.13674 9.72805Z" fill="black"/>
          </svg>
        </button>
      </div>
      <ul class="dt-header__nav-menu p-0 m-0 text-gray-700 md:text-white block md:flex md:items-stretch">
        {% if menuItems %}
          {% for item in menuItems %}
            {#
              NOTE: Handle `hash` link
              Because url will be forced to current locale -> `/#about-us` -> `vi/#about-us` => trigger reload page
              So url starts with '/#' should be substitute with current locale at build time
             #}
            {% set isHashUrl = item.url starts with '/#' %}
            {% set url = isHashUrl ? (localeRoot ~ '#' ~ item.url[2:]) : item.url %}
            {% if item.items %}
              <li class="dt-header__nav-menu-item uppercase font-semibold border-b md:border-b-0 md:inline-block relative">
                <a data-turbolinks="false" href="{{url}}"
                  class="block md:inline-block p-4 md:p-2 lg:p-4 text-lg sm:text-xl md:text-sm"
                  aria-haspopup="true"
                  aria-expanded="false">
                  {{item.title}}
                  <i class="dt-header__sublist-toggler icon-down-open float-right md:float-none"></i>
                </a>
                <ul class="dt-header__sublist hidden md:absolute md:top-full text-gray-800 whitespace-no-wrap md:border">
                {% for subItem in item.items %}
                  <li>
                    <a href="{{subItem.url}}" class="block px-4 py-3">{{subItem.title}}</a>
                  </li>
                {% endfor %}
                </ul>
              </li>
            {% else %}
              {% if item.isActive %}
              <li class="dt-header__nav-menu-item uppercase font-semibold border-b md:border-b-0 md:inline-block mr-0 md:mr-4 lg:mr-8 is--active">
              {% else %}
              <li class="dt-header__nav-menu-item uppercase font-semibold border-b md:border-b-0 md:inline-block mr-0 md:mr-4 lg:mr-8">
              {% endif %}
                {% if isHashUrl %}
                  <a data-turbolinks="false"
                    href="javascript:void(0)"
                    data-target="{{item.url}}"
                    data-href="{{url}}"
                    onclick="smoothScrollHome(this)"
                    class="block md:inline-flex items-center h-full p-4 md:p-0 md:text-sm text-lg sm:text-xl">
                    {{item.title}}
                  </a>
                {% else %}
                  <a data-turbolinks="false"
                    href="{{url}}"
                    onclick="setMobileMenu(false)"
                    class="block md:inline-flex items-center h-full p-4 md:p-0 md:text-sm text-lg sm:text-xl">
                    {{item.title}}
                  </a>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
        <li class="dt-header__nav-menu-end flex justify-between items-center uppercase font-semibold ml-auto md:ml-4 p-4 md:p-0">
          <div class="text-lg sm:text-xl md:hidden">{{'common.language'|_}}</div>
           {% partial 'shared/select/locale' %}
        </li>
      </ul>
      <div class="absolute bottom-0 inset-x-0 mb-4 text-center md:hidden">
        <img class="inline" src="{{'assets/images/logo-mobile.png'|theme}}">
      </div>
    </nav>
  </div>
</header>