<p><strong>ハノイ本社</strong>: 8F, Kim Anh Building, 78 Duy Tan St., Cau Giay Dist., Ha Noi City.</p><br>

<p><strong>ホーチミン支店</strong>:  3F, 20/13 Nguyen Truong To St., Ho Chi Minh City.</p><br>

<p><strong>ダナン支店: </strong> 6F, No.51, Xo Viet Nghe Tinh St., Hoa Cuong Nam Ward, Hai Chau Dist., Da Nang City.</p><br>

<p><strong>日本</strong>: 〒220-0004, 神奈川県横浜市西区北幸1-11-1 水信ビル7階</p><br>

<p><strong>日本連絡先：</strong> CEO 目黒　博 (Mobile：090-3133-5180)
	<br>
</p>

<p>
	<br>
</p>