<section>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">本社住所</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">8F, Kim Anh Building, 78 Duy Tan St., Cau Giay Dist., Ha Noi.</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">ホーチミン支店</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">3F, 20/13 Nguyen Truong To, Ho Chi Minh City.</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">ダナン支店</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">6F, No.51, Xo Viet Nghe Tinh St., Hoa Cuong Nam Ward, Hai Chau Dist., Da Nang City.</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">日本支店</p>

		<p>〒220-0004 神奈川県横浜市西区北幸1-11-1 水信ビル7階</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">電話番号</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">TEL：050-6875-6788 Mobile：090-3133-5180</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">メールアドレス</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">hiroshi.meguro@goline.vn</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">テクニカルサポート</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">TEL：050-6875-6788 Mobile：090-3133-5180</p>
	</div>
</section>
<div class="hr my-6 hidden md:block">
	<br>
</div>
<section class="pt-8 md:pt-0">
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">税コード</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">0107526719</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">事業登録証明書における本社住所</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">2 Floor, No.4, 151B Yen Lang, Trung Liet, Dong Da Dist., Ha Noi City.</p>
	</div>
</section>