<section>
  <div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">
    <p class="contact-info__th w-2/5 md:w-1/3 px-4">
      Hanoi Head Office
    </p>
    <p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">
      8F, Kim Anh Building, Lane 78 Duy Tan Str., Cau Giay District, Hanoi City.
    </p>
  </div>
  <div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">
    <p class="contact-info__th w-2/5 md:w-1/3 px-4">
      Ho Chi minh Office
    </p>
    <p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">
      3F, 20/13 Nguyen Truong To Str., District 4, Ho Chi Minh City.
    </p>
  </div>
  <div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">
    <p class="contact-info__th w-2/5 md:w-1/3 px-4">
      Da Nang Office
    </p>
    <p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">
      6F, No 51 Xo Viet Nghe Tinh St., Hoa Cuong Nam ward, Hai Chau Dist., Da Nang City.
    </p>
  </div>
  <div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">
    <p class="contact-info__th w-2/5 md:w-1/3 px-4">
      Japan Office
    </p>
    <p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">
      7-2, Kandanishikicho 3-Chōme Chiyoda, Tokyo.
    </p>
  </div>
  <div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">
    <p class="contact-info__th w-2/5 md:w-1/3 px-4">
      Tel
    </p>
    <p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">
      04.3.7957250
    </p>
  </div>
  <div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">
    <p class="contact-info__th w-2/5 md:w-1/3 px-4">
      Email
    </p>
    <p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">
      contact@goline.vn
    </p>
  </div>
  <div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">
    <p class="contact-info__th w-2/5 md:w-1/3 px-4">
      Technical Support
    </p>
    <p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">
      04.3.7957250
    </p>
  </div>
</section>
<div class="hr my-6 hidden md:block"></div>
<section class="pt-8 md:pt-0">
  <div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">
    <p class="contact-info__th w-2/5 md:w-1/3 px-4">
      Mã số thuế
    </p>
    <p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">
      0104441591
    </p>
  </div>
  <div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">
    <p class="contact-info__th w-2/5 md:w-1/3 px-4">
      Registered Office Address 
    </p>
    <p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">
      No. 9, lane 342, group 12, Phu Dien Ward, Bac Tu Liem District, Hanoi City.
    </p>
  </div>
</section>