<section>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">Trụ sở tại Hà Nội</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">Phòng 804, toà nhà Kim Ánh, ngõ 78 Duy Tân, quận Cầu Giấy, Hà Nội.</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">Văn phòng tại TP.Hồ Chí Minh</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">302, 20/13 Nguyễn Trường Tộ, Quận 4, Thành phố Hồ Chí Minh.</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">Văn phòng tại Đà Nẵng</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">Tầng 6, Số 51 Đường Xô Viết Nghệ Tĩnh, Phường Hòa Cường Nam, Quận Hải Châu, Tp Đà Nẵng.</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">Văn phòng tại Nhật Bản</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">7-2, Kandanishikicho 3-Chōme Chiyoda, Tokyo.</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">Số điện thoại</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">04.3.7957250 </p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">Địa chỉ Email</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">contact@goline.vn</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">Hỗ trợ kỹ thuật</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">04.3.7957250</p>
	</div>
</section>
<div class="hr my-6 hidden md:block">
	<br>
</div>
<section class="pt-8 md:pt-0">
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">Mã số thuế</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">0104441591</p>
	</div>
	<div class="contact-info__tr flex flex-wrap -mx-4 py-3 border-b md:border-none">

		<p class="contact-info__th w-2/5 md:w-1/3 px-4">Trụ sở chính trên ĐKKD</p>

		<p class="contact-info__td w-3/5 md:w-2/3 px-4 font-bold">Số 9, ngõ 342, tổ 12, phường Phú Diễn, quận Bắc Từ Liêm, tp Hà Nội</p>
	</div>
</section>