<p class="mb-4 indent-4">
  Golineのキーパーソンは、ベトナムと日本にある証券・金融会社にシステムを導入した経験と実績があります。
</p>
<p class="mb-4 indent-4">
  データ移行:様々な証券会社のシステムからデータ移行の調査及び実施を成功させました。
</p>
<p class="mb-4 indent-4">
 銀行への接続:BIDV銀行、VietinBank銀行、ACB銀行、OCB銀行、DAG銀行、SHB銀行、PVcom-bank銀行、Agribank銀行といったベトナムでの大銀行に接続できるようになっています。
</p>
<p class="mb-4 indent-4">
  その他システムとの接続:ベトナムの各取引所、ベトナム保管振替機構、さらにはブルームバーグ、会計システム、CRMシステムに接続ができています。
</p>
<p class="mb-4 indent-4">
Golineは、証券・金融分野では長期間の経験と実績があるとともに、業界状況にも精通しており、そのため関連当局及びユーザーからの仕様変更や新規要求を迅速に対応できています。
</p>