<p class="mb-4 indent-4">
  Goline’s senior staff has developed and implemented securities trading software for more than 20 securities companies and financial institutions in Vietnam (BSC, SHS, DAS, MHBS, AVSC, ECC, VietinBankSC, PSI, VFS, PineTree, NSI, VSM, BOS,…) on cores such as SBS of VSSD, BOSC of FPT, BOSC of TongYang, Dolphin of Goline, VGAIA of Okasan Information Systems (OIS).

</p>
<p class="mb-4 indent-4">
  Data transformation: We have successfully researched and converted data from BOSC cores of FPT, HunSun of China, Ibroker of Hungary, IBOSS of FomisBas Malaysia, Flex of FSS, SBS of VSSD, Dolphin of Goline.
</p>
<p class="mb-4 indent-4">
 Collaboration with banks: We have collaborated with most major banks in Vietnam, including ACB, SHB, BIDV, AGRB, OCB, DAB, MHB,etc. 
</p>
<p class="mb-4 indent-4">
  Collaboration with other systems: We have successfully collaborated with the systems of the Stock Exchanges, Depository Centers, Bloomberg, etc.
</p>
<p class="mb-4 indent-4">
  With years of experience in implementing large systems in the securities sector, Goline has fully grasped the sanctions of the Vietnamese stock market and thus can quickly respond to the requirements of the authorities and customers. 
</p>