<p align="left"><strong>Hệ thống phần mềm</strong> của <strong>Goline</strong> sản xuất tuân thủ tiêu chuẩn quản lý chất lượng ISO 9001:2015 do tổ chức <strong>NQA</strong> của Anh chứng nhận</p>

<p align="left">
	<br>
</p>

<p align="left"><strong>Quy trình sản xuất</strong> của <strong>Goline</strong> đạt tiêu chuẩn quản lý an toàn bảo mật thông tin ISO 27001:2015 do tổ chức <strong>NQA</strong> của Anh chứng nhận</p>

<p align="left">
	<br>
</p>

<p align="left">Ngoài ra <strong>Goline</strong> đáp ứng tiêu chuẩn <strong>Quản lý chất lượng Nhật Bản</strong> và tiêu chuẩn an toàn bảo mật thông tin do <strong>đối tác Nhật Bản</strong> chứng nhận.</p>