<p class="mb-4 indent-4">
  Goline’s software system complies with ISO 9001:2015’s quality management standards, certified by NQA UK.
</p>
<p class="mb-4 indent-4">
  Goline’s production processes meet ISO 27001:2015’s information security management standards, certified by NQA UK.
</p>
<p class="mb-4 indent-4">
  In addition, Goline meets Japanese quality management standards and information securities standards, certified by our partner in Japan.
</p>