<!-- [Zone]: Chi nhánh -->
<div class="flex flex-wrap lg:-mx-4 text-sm md:text-xl">
	<!-- Block 1 -->
	<div class="w-5/12 lg:w-1/5 lg:px-4 border-b border-gray-400 lg:border-none">
		<div class="wrapper">

			<p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Tên công ty</p>

			<p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Thành lập</p>

			<p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Vốn điều lệ</p>

			<p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Chủ tịch</p>

			<p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Tổng giám đốc</p>

			<p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Nhân viên</p>

			<p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Tel/Fax</p>

			<p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Website</p>

			<p class="lg:pl-4 py-3 lg:py-5 lg:font-bold">Địa chỉ</p>
		</div></div>
	<div class="w-7/12 lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none">
		<div class="wrapper br-20-px profile-main-column lg:text-white lg:px-2">

			<p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold text-blue-600 lg:text-white">Goline Corporation</p>

			<p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">02/2010</p>

			<p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">10.000.000.000 <sup>VNĐ</sup></p>

			<p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">PhD. Nguyễn Chí Thành</p>

			<p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">MBA. Lê Ngọc Tuấn</p>

			<p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">120 người</p>

			<p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">04.3.7957250 - 04.3.7957251</p>

			<p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">http://www.goline.vn</p>

			<p class="py-3 lg:py-5 lg:px-2 font-bold lg:font-normal">Tầng 8, Toà nhà Kim Ánh, 78 Duy Tân, Quận Cầu Giấy, Hà Nội.</p>
		</div></div>
	<div class="w-full lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none mt-8 lg:mt-0">

		<p class="hidden lg:block lg:invisible py-3 lg:py-5">--placeholder--</p>

		<p class="hidden lg:block lg:invisible py-3 lg:py-5">--placeholder--</p>

		<p class="hidden lg:block lg:invisible py-3 lg:py-5">--placeholder--</p>

		<p class="hidden lg:block lg:invisible py-3 lg:py-5">--placeholder--</p>

		<p class="hidden lg:block lg:invisible py-3 lg:py-5">--placeholder--</p>

		<p class="py-3 lg:py-5 px-2 text-blue-600 font-bold">Chi nhánh Hồ Chí Minh</p>
		<div class="wrapper flex flex-wrap br-10-px bg-transparent lg:bg-indigo-200 px-2">
			<div class="mobile-th w-5/12 lg:hidden">

				<p class="py-3 lg:py-5 border-b border-gray-400">Giám đốc</p>

				<p class="py-3 lg:py-5 border-b border-gray-400">Email</p>

				<p class="py-3 lg:py-5">Địa chỉ</p>
			</div>
			<div class="w-7/12 lg:w-full">

				<p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200"><b class="hidden lg:inline">Giám đốc:</b> Ngô Quang Hợp</p>

				<p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200"><b class="hidden lg:inline">Email:</b> contact@goline.vn</p>

				<p class="py-3 lg:py-5 px-2 font-bold lg:font-normal"><b class="hidden lg:inline">Địa chỉ:</b> Tầng 3, 20/13 Nguyễn Trường Tộ, Thành phố Hồ Chí Minh.</p>
			</div></div></div>
	<!-- Block 2 -->
	<div class="invisible w-5/12 lg:w-1/5 lg:px-4 border-b border-gray-400 lg:border-none">
		<div class="wrapper">
			<!-- ## Placeholder ## -->
			<br>
		</div></div>
	<div class="w-full lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none mt-8 lg:mt-0">

		<p class="py-3 lg:py-5 px-2 text-blue-600 font-bold">Chi nhánh Đà Nẵng</p>
		<div class="wrapper flex flex-wrap br-10-px bg-transparent lg:bg-indigo-200 px-2">
			<div class="mobile-th w-5/12 lg:hidden">

				<p class="py-3 lg:py-5 border-b border-gray-400">Giám đốc</p>

				<p class="py-3 lg:py-5 border-b border-gray-400">Email</p>

				<p class="py-3 lg:py-5">Địa chỉ</p>
			</div>
			<div class="w-7/12 lg:w-full">

				<p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200"><b class="hidden lg:inline">Giám đốc:</b> Lê Sỹ Thao</p>

				<p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200"><b class="hidden lg:inline">Email:</b> contact@goline.vn</p>

				<p class="py-3 lg:py-5 px-2 font-bold lg:font-normal"><b class="hidden lg:inline">Địa chỉ:</b> Tầng 6, Số 51 Đường Xô Viết Nghệ Tĩnh, P Hòa Cường Nam, Q Hải Châu, Tp Đà Nẵng</p>
			</div></div></div>
	<div class="w-full lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none mt-8 lg:mt-0">

		<p class="py-3 lg:py-5 px-2 text-blue-600 font-bold">Chi nhánh Nhật Bản</p>
		<div class="wrapper flex flex-wrap br-10-px bg-transparent lg:bg-indigo-200 px-2">
			<div class="mobile-th w-5/12 lg:hidden">

				<p class="py-3 lg:py-5 border-b border-gray-400">Giám đốc</p>

				<p class="py-3 lg:py-5 border-b border-gray-400">Email</p>

				<p class="py-3 lg:py-5">Địa chỉ</p>
			</div>
			<div class="w-7/12 lg:w-full">

				<p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200"><b class="hidden lg:inline">Giám đốc:</b> Meguro Hiroshi</p>

				<p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200"><b class="hidden lg:inline">Email:</b> hiroshi.meguro@goline.vn</p>

				<p class="py-3 lg:py-5 px-2 font-bold lg:font-normal"><b class="hidden lg:inline">Địa chỉ:</b> 7-2, Kandanishikicho 3-Chōme Chiyoda, Tokyo.</p>
			</div></div></div></div>
<!-- [Zone]: Sứ mệnh -->
<div class="flex flex-wrap -mx-4 my-16 text-lg">
	<div class="w-full md:w-1/2 px-4 mb-8 lg:mb-0 company-vision-block">
		<div class="wrapper br-10-px bg-white shadow-goline py-8 lg:py-12 xl:py-16">

			<h3 class="uppercase text-2xl font-bold text-center mb-4">Sứ mệnh</h3>

			<p class="px-4 lg:px-16 xl:px-24" style="min-height: 6rem;">Cung cấp giải pháp <strong>phần mềm tài chính</strong>, chứng khoán chuyên nghiệp cho thị trường chứng khoán Việt Nam và khu vực.</p>
		</div></div>
	<div class="w-full md:w-1/2 px-4 company-vision-block">
		<div class="wrapper br-10-px bg-white shadow-goline py-8 lg:py-12 xl:py-16">

			<h3 class="uppercase text-2xl font-bold text-center mb-4">Tầm nhìn</h3>

			<p class="px-4 lg:px-16 xl:px-24" style="min-height: 6rem;">Trở thành công ty đạt <strong>tiêu chuẩn quốc tế</strong> về lĩnh vực giải pháp phần mềm tài chính, chứng khoán.</p>
		</div></div></div>
<!-- [Zone]: Slogan -->
<div class="flex flex-wrap br-10-px bg-app-theme text-white shadow-goline items-center text-base md:text-lg py-4 lg:py-0">
	<div class="w-full md:w-1/5 p-3 lg:p-6">

		<h3 class="uppercase font-bold text-center text-4xl" style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Slogan</h3>
	</div>
	<div class="w-full md:w-4/5 p-3 lg:p-6 text-center lg:text-left">

		<h3 class="text-2xl lg:text-3xl font-bold">« Smart But Simple »</h3>

		<p>Cải tiến không ngừng công nghệ, quy trình, giải pháp để mang lại những sản phẩm đẳng cấp hơn, tinh tế hơn.</p>
	</div></div>