<div class="flex flex-wrap lg:-mx-4 text-sm md:text-xl">
   <div class="w-5/12 lg:w-1/5 lg:px-4 border-b border-gray-400 lg:border-none">
      <div class="wrapper">
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">社名</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">設立年月日</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">資本金</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">代表取締役会長</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">代表取締役社長</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">従業員数</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Tel/Fax</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Website</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold">本社住所</p>
      </div>
   </div>
   <div class="w-7/12 lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none">
      <div class="wrapper br-20-px profile-main-column lg:text-white lg:px-2">
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold text-blue-600 lg:text-white">GOLINE CORPORATION </p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">2010年2月</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">約5000万円</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">PhD. Nguyen Chi Thanh</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">MBA. LE NGOC TUAN</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">120名（2023年06月末現在）</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">
            (+84)4.3.7957250 - (+84)4.3.7957251 
         </p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">https://goline.vn </p>
         <p class="py-3 lg:py-5 lg:px-2 font-bold lg:font-normal">8 Floor, Kim Anh Building, No. 78 Duy Tan Str., Cau Giay District, Ha Noi.</p>
      </div>
   </div>
   <div class="w-full lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none mt-8 lg:mt-0">
      <p class="py-3 lg:py-5 px-2 text-blue-600 font-bold">ホーチミン支店</p>
      <div class="wrapper flex flex-wrap br-10-px bg-transparent lg:bg-indigo-200 px-2">
         <div class="mobile-th w-5/12 lg:hidden">
            <p class="py-3 lg:py-5 border-b border-gray-400">支店長</p>
            <p class="py-3 lg:py-5 border-b border-gray-400">Email</p>
            <p class="py-3 lg:py-5">住所</p>
         </div>
         <div class="w-7/12 lg:w-full">
            <p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200"><b class="hidden lg:inline">支店長:</b> NGO QUANG HOP</p>
            <p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200"><b class="hidden lg:inline">Email:</b> hcm@goline.vn</p>
            <p class="py-3 lg:py-5 px-2 font-bold lg:font-normal"><b class="hidden lg:inline">住所:</b> 302, 20/13 Nguyen Truong To, Ho Chi Minh City.</p>
         </div>
      </div>
      <p class="py-3 lg:py-5 px-2 text-blue-600 font-bold">ダナン支店</p>
      <div class="wrapper flex flex-wrap br-10-px bg-transparent lg:bg-indigo-200 px-2">
         <div class="mobile-th w-5/12 lg:hidden">
            <p class="py-3 lg:py-5 border-b border-gray-400">支店長</p>
            <p class="py-3 lg:py-5 border-b border-gray-400">Email</p>
            <p class="py-3 lg:py-5">住所</p>
         </div>
         <div class="w-7/12 lg:w-full">
            <p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200"><b class="hidden lg:inline">支店長:</b> LE SY THAO </p>
            <p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200"><b class="hidden lg:inline">Email:</b> thaols@goline.vn</p>
            <p class="py-3 lg:py-5 px-2 font-bold lg:font-normal"><b class="hidden lg:inline">住所:</b> 6F, 51 Xo Viet Nghe Tinh, Hoa Cuong Nam, Hai Chau, Da Nang</p>
         </div>
      </div>
   </div>
   <div class="invisible w-5/12 lg:w-1/5 lg:px-4 border-b border-gray-400 lg:border-none">
      <div class="wrapper">
         <!-- ## Placeholder ## -->
         <br>
      </div>
   </div>
   <div class="w-full lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none mt-8 lg:mt-0">
   </div>
</div>

<div class="flex flex-wrap lg:-mx-4 text-sm md:text-xl">
   <div class="w-5/12 lg:w-1/5 lg:px-4 border-b border-gray-400 lg:border-none">
      <div class="wrapper">
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">子社名</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">設立年月日</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">資本金</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">代表取締役会長</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">代表取締役社長</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">従業員数</p>

      </div>
   </div>
   <div class="w-7/12 lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none">
      <div class="wrapper br-20-px profile-main-column lg:text-white lg:px-2">
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold text-blue-600 lg:text-white">GOLINE GLOBAL</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">2022年9月</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">約1000万円</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">Mr. LE NGOC TUAN</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">Mr. LE SY THAO </p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">20名（2023年06月末現在）</p>
      </div>
   </div>
</div>

<div class="invisible w-5/12 lg:w-1/5 lg:px-4 border-b border-gray-400 lg:border-none">
  <div class="wrapper">
     <!-- ## Placeholder ## -->
     <br>
  </div>
</div>
   
<div class="flex flex-wrap lg:-mx-4 text-sm md:text-xl">
   <div class="w-5/12 lg:w-1/5 lg:px-4 border-b border-gray-400 lg:border-none">
      <div class="wrapper">
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">子社名</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">設立年月日</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">資本金</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">代表取締役社長</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">従業員数</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Tel</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Website/Email</p>
         <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold">本社住所</p>
      </div>
   </div>
   <div class="w-7/12 lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none">
      <div class="wrapper br-20-px profile-main-column lg:text-white lg:px-2">
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold text-blue-600 lg:text-white">GOLINE GLOBAL JAPAN </p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">2023年5月</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">500万円</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">Mr. 目黒　博 </p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">3名（2023年06月末現在）</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">Tel: 050-6875-6788 Mobile: 090-3133-5180</p>
         <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">https://goline.co.jp </br> hiroshi.meguroa@goline.co.jp </p>
         <p class="py-3 lg:py-5 lg:px-2 font-bold lg:font-normal">〒220-0004　神奈川県横浜市西区北幸1-11-1　水信ビル7階.</p>
      </div>
   </div>
</div>

<div class="flex flex-wrap -mx-4 my-16 text-lg">
   <div class="w-full md:w-1/2 px-4 mb-8 lg:mb-0 company-vision-block">
      <div class="wrapper br-10-px bg-white shadow-goline py-8 lg:py-12 xl:py-16">
         <h3 class="uppercase text-2xl font-bold text-center mb-4">使命</h3>
         <p class="px-4 lg:px-16 xl:px-24" style="min-height: 6rem;">ベトナム国内および国外に<strong>証券・金融システム</strong>のソリューションを提供します。</p>
      </div>
   </div>
   <div class="w-full md:w-1/2 px-4 company-vision-block">
      <div class="wrapper br-10-px bg-white shadow-goline py-8 lg:py-12 xl:py-16">
         <h3 class="uppercase text-2xl font-bold text-center mb-4">ビジョン</h3>
         <p class="px-4 lg:px-16 xl:px-24" style="min-height: 6rem;"><strong>国際標準</strong>を満たす証券・金融システムのソリューションを提供する会社になります。</p>
      </div>
   </div>
</div>
<div class="flex flex-wrap br-10-px bg-app-theme text-white shadow-goline items-center text-base md:text-lg py-4 lg:py-0">
   <div class="w-full md:w-1/5 p-3 lg:p-6">
      <h3 class="uppercase font-bold text-center text-4xl" style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">スローガン</h3>
   </div>
   <div class="w-full md:w-4/5 p-3 lg:p-6 text-center lg:text-left">
      <h3 class="text-2xl lg:text-3xl font-bold">« Smart But Simple »</h3>
      <p>よりスマートで品質が高い製品を提供するため、常に技術・製造工程・ソリューションの改善を続けています。</p>
      <p>
         <br>
      </p>
      <p>
         <br>
      </p>
   </div>
</div>