<div class="flex flex-wrap lg:-mx-4 text-sm md:text-xl">
  <div class="w-5/12 lg:w-1/5 lg:px-4 border-b border-gray-400 lg:border-none">
    <div class="wrapper">
      <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Company Name</p>
      <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Date of Establishment</p>
      <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Charter capital</p>
      <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Chairman</p>
      <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">CEO</p>
      <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Staff</p>
      <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Tel/Fax</p>
      <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold border-b border-gray-400">Website</p>
      <p class="lg:pl-4 py-3 lg:py-5 lg:font-bold">Address</p>
    </div>
  </div>
  <div class="w-7/12 lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none">
    <div class="wrapper br-20-px profile-main-column lg:text-white lg:px-2">
      <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold text-blue-600 lg:text-white">Goline Corporation</p>
      <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">02/2010</p>
      <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">10.000.000.000 <sup>VNĐ</sup></p>
      <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">PhD. Nguyen Chi Thanh</p>
      <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">MBA. Le Ngoc Tuan</p>
      <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">50 members</p>
      <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">04.3.7957250 - 04.3.7957251</p>
      <p class="py-3 lg:py-5 lg:px-2 border-b border-gray-400 font-bold lg:font-normal">http://www.goline.vn</p>
      <p class="py-3 lg:py-5 lg:px-2 font-bold lg:font-normal">8 Floor, Kim Anh Building, No. 78 Duy Tan Str., Cau Giay District, Ha Noi.</p>
    </div>
  </div>
  <div class="w-full lg:w-2/5 lg:px-4 border-b border-gray-400 lg:border-none mt-8 lg:mt-0">
    <p class="hidden lg:block lg:invisible py-3 lg:py-5">--placeholder--</p>
    <p class="hidden lg:block lg:invisible py-3 lg:py-5">--placeholder--</p>
    <p class="hidden lg:block lg:invisible py-3 lg:py-5">--placeholder--</p>
    <p class="hidden lg:block lg:invisible py-3 lg:py-5">--placeholder--</p>
    <p class="hidden lg:block lg:invisible py-3 lg:py-5">--placeholder--</p>
    <p class="py-3 lg:py-5 px-2 text-blue-600 font-bold">Ho Chi Minh Branch</p>
    <div class="wrapper flex flex-wrap br-10-px bg-transparent lg:bg-indigo-200 px-2">
      <div class="mobile-th w-5/12 lg:hidden">
         <p class="py-3 lg:py-5 border-b border-gray-400">Director</p>
        <p class="py-3 lg:py-5 border-b border-gray-400">Email</p>
        <p class="py-3 lg:py-5">Address</p>
      </div>
      <div class="w-7/12 lg:w-full">
        <p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200">
          <b class="hidden lg:inline">Director:</b> Ngo Quang Hop
        </p>
        <p class="py-3 lg:py-5 px-2 font-bold lg:font-normal border-b border-gray-400 lg:border-gray-200">
          <b class="hidden lg:inline">Email:</b> hcm@goline.vn
        </p>
        <p class="py-3 lg:py-5 px-2 font-bold lg:font-normal">
          <b class="hidden lg:inline">Address:</b> 3F, 20/13 Nguyen Truong To St., Ho Chi Minh City.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap -mx-4 my-16 text-lg">
  <div class="w-full md:w-1/2 px-4 mb-8 lg:mb-0 company-vision-block">
    <div class="wrapper br-10-px bg-white shadow-goline py-8 lg:py-12 xl:py-16">
      <h3 class="uppercase text-2xl font-bold text-center mb-4">Mission</h3>
      <p class="px-4 lg:px-16 xl:px-24" style="min-height: 6rem">
        Providing professional <b>financial and securities software solutions</b> for Vietnam and regional stock markets.
      </p>
    </div>
  </div>
  <div class="w-full md:w-1/2 px-4 company-vision-block">
    <div class="wrapper br-10-px bg-white shadow-goline py-8 lg:py-12 xl:py-16">
      <h3 class="uppercase text-2xl font-bold text-center mb-4">Vision</h3>
      <p class="px-4 lg:px-16 xl:px-24" style="min-height: 6rem">
        To become a company that meets <b>international standards<b> in financial and securities software solutions.
      </p>
    </div>
  </div>
</div>

<div class="flex flex-wrap br-10-px bg-app-theme text-white shadow-goline items-center text-base md:text-lg py-4 lg:py-0">
  <div class="w-full md:w-1/5 p-3 lg:p-6">
    <h3 class="uppercase font-bold text-center text-4xl" style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Slogan</h3>
  </div>
  <div class="w-full md:w-4/5 p-3 lg:p-6 text-center lg:text-left">
    <h3 class="text-2xl lg:text-3xl font-bold">« Smart But Simple »</h3>
    <p>
      We strive to improve our technologies, processes, and solutions to deliver the best quality products to customers.
    </p>
  </div>
</div>