<h2 class="text-2xl md:text-4xl uppercase font-bold mt-4 mb-8 md:mb-6">Chúng tôi là ai?</h2>

<p class="md:text-lg mx-auto" style="max-width: 45rem;"><strong>Goline Corporation</strong> là công ty chuyên cung giải pháp phần mềm tài chính, chứng khoán cho thị trường chứng khoán Việt Nam và khu vực. Với đội ngũ chuyên môn nhiều kinh nghiệm, đầy đam mê nhiệt huyết, Goline đã và đang mang lại những sản phẩm chất lượng cao cho khách hàng, là một trong những giải pháp phổ biến trên thị trường hiện nay.
	<br>
	<br>
</p>