<h2 class="text-3xl md:text-4xl uppercase font-bold mt-4 mb-8 md:mb-6">Who are we?</h2>

<p class="md:text-lg mx-auto" style="max-width: 45rem;"><span class="text-blue-600 font-semibold">Goline Corporation</span> is a company specializing in providing financial and securities software solutions for the Vietnamese stock market. With a team of experienced professionals, full of passion and enthusiasm, Goline has been bringing high quality products to customers, which is one of the popular solutions on the market today. </p>

<p>
	<br>
</p>