<h2 class="text-2xl md:text-4xl uppercase font-bold mt-4 mb-8 md:mb-6">WHO WE ARE?</h2>

<p class="md:text-lg mx-auto" style="max-width: 45rem;"><span class="text-blue-600 font-semibold">Goline Corporation</span> はベトナム国内および国外向け証券・金融システムのソリューションを提案し、証券・金融システムを開発及び提供しています。熱意に満ちて、長期間の経験がある専門家集団であるGolineは、現在、顧客に品質の高いソリューションを提供しており、市場では高い評価をいただいております。Goline GlobalはGoline Corporationの子会社で。GOLINE GLOBAL JAPANはGoline Globalの子会社です。日本市場に向けてサービスを提供する会社です。</p>