<section class="about__ceo-words bg-white py-12 my-4"
  style="box-shadow: rgba(62, 57, 107, 0.3) 0px 6px 16px 0px;">
  <div class="container">
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-10 text-center uppercase">{{'about.ceoWords.title'|_}}</h2>
    <div class="flex flex-wrap -mx-4">
      <div class="w-full md:w-5/12 px-4">
        <img class="lazy h-32 w-full md:h-full md:w-auto mb-8 md:mb-0 object-cover br-10-px"
          data-src="{{_gTheme_.about_ceo_avatar|media}}" alt="">
      </div>
      <div class="w-full md:w-7/12 px-4">
        {% content 'about/ceo-words' %}
      </div>
    </div>
  </div>
</section>
