<section id="about__experience" class="py-12 my-4">
  <div class="container">
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-12 text-center uppercase">{{'about.experience.title'|_}}</h2>
    <div class="flex flex-wrap -mx-4">
      <div class="px-4 w-full md:w-1/2 order-first md:order-last pb-12">
        <div class="wrapper flex flex-wrap h-full -mx-3">
          <div class="wrapper px-3 h-full w-1/2">
            <img data-src="{{_gTheme_.about_experience_photo_1|media}}" class="object-cover br-10-px lazy w-full">
          </div>
          <div class="wrapper px-3 h-full w-1/2 flex flex-col justify-between">
            <img data-src="{{_gTheme_.about_experience_photo_2|media}}"
              class="photo-tile object-cover br-10-px lazy w-full">
            <img data-src="{{_gTheme_.about_experience_photo_3|media}}"
              class="photo-tile object-cover br-10-px lazy w-full">
          </div>
        </div>
      </div>
      <div class="px-4 w-full md:w-1/2 order-last md:order-first">
        {% content 'company/experience' %}
      </div>
    </div>
  </div>
</section>
