{% set arr = _gTheme_.about_target_fields %}

{% if arr|length %}
<section id="about__target-field" class="py-12 my-4 bg-white">
  <div class="container">
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-8 lg:mb-10 text-center uppercase">{{'about.targetField.title'|_}}</h2>
    {% for fld in arr %}
      <div class="flex flex-wrap -mx-4 py-8">
        {% set isOdd = (loop.index % 2 == 1) %}
        <div class="px-4 w-full md:w-1/2 {% if isOdd %}order-first{% else %}order-last{% endif %}">
          <h3 class="text-xl md:text-2xl flex flex-wrap mb-4 items-center font-bold" style="line-height: 1.3em">
            <img src="{{fld.icon|media}}" class="mr-4">
            <div class=" flex-1">{{fld['title_' ~ activeLocale]}}</div>
          </h3>
          <div>
            {{fld['content_' ~ activeLocale]|raw}}
          </div>
        </div>
        <div class="px-4 w-full md:w-1/2 {% if isOdd %}order-last{% else %}order-first{% endif %}">
          <img src="{{fld.photo|media}}" class="hidden md:block w-full object-cover br-10-px">
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}
