<section class="about__process py-12 my-4 bg-app-theme text-white">
  <div class="container">
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-12 text-center uppercase">{{'about.process.title'|_}}</h2>
    <div class="flex flex-wrap -mx-4">
      <div class="px-4 w-full md:w-2/3 order-last md:order-first">
        <div class="wrapper flex flex-wrap h-full -mx-3">
          <div class="wrapper px-3 h-full w-1/2">
            <img data-src="{{_gTheme_.about_process_photo_1|media}}" class="object-cover br-10-px lazy w-full">
          </div>
          <div class="wrapper px-3 h-full w-1/2">
            <img data-src="{{_gTheme_.about_process_photo_2|media}}" class="object-cover br-10-px lazy w-full">
          </div>
        </div>
      </div>
      <div class="px-4 w-full md:w-1/3 order-first md:order-last pb-12">
        {% content 'company/process' %}
      </div>
    </div>
  </div>
</section>
