<section class="about__profile py-12">
  <div class="container">
    <h2 class="text-3xl font-bold mb-12 text-center uppercase">{{'about.profile.title'|_}}</h2>
    {% content 'company/profile' %}
  </div>
</section>
