{% set arr = _gTheme_.about_tech_list %}
{# {% set arr = arr|merge(arr) %} #}

<section class="about__staff py-12 my-4">
  <div class="container">
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-12 text-center uppercase">{{'about.staff.title'|_}}</h2>
    <div class="keen-slider-wrapper" id="about-staff-slider"
      data-responsive-within
      data-auto-play="{{_gTheme_.about_staff_slider_autoplay}}"
      data-loop="{{_gTheme_.about_staff_slider_is_loop}}">
      <div class="keen-slider">
        {% for slide in _gTheme_.about_staff_slider_photos %}
          <div class="keen-slider__slide">
            <div class="wrapper relative br-10-px overflow-hidden">
              <img class="w-full"
                data-app-src-desktop="{{slide.photo_desktop|media}}"
                data-app-src-mobile="{{slide.photo_mobile|media}}">
              <div class="absolute bottom-0 inset-x-0 text-2xl bg-gradient-to-t from-black to-transparent text-white text-center py-12 px-4">
                {{slide['caption_' ~ activeLocale]|raw}}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if _gTheme_.about_staff_slider_show_arrows %}
        {% partial 'shared/slider/arrows' %}
      {% endif %}

      {% if _gTheme_.about_staff_slider_show_dots %}
        {% partial 'shared/slider/dots' className="float-parent" %}
      {% endif %}
    </div>
  </div>
</section>
