{% set arr = _gTheme_.about_tech_list %}
{# {% set arr = arr|merge(arr) %} #}

<section class="about__tech py-12 mt-4">
  <div class="container">
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4 text-center uppercase">{{'about.tech.title'|_}}</h2>
    <h3 class="mx-auto text-center mb-12" style="max-width:48rem">{{'about.tech.subtitle'|_}}</h3>
    <div class="flex flex-row flex-wrap -mx-4">
      {% for tech in arr %}
        <div class="wrapper px-4 w-1/2 lg:w-1/4">
          <picture class="flex flex-col items-center justify-center bg-white br-10-px px-4 py-8 mb-8 border border-gray-400 lifting">
            <img class="tech-brand-logo mx-auto lazy mb-4 w-auto h-12" width="48" height="48"
              data-src="{{tech.logo|media}}"
              alt="{{tech.name}}">
            {% if tech.name %}
            <h4 class="text-lg">{{tech.name}}</h4>
            {% endif %}
          </picture>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
