title = "Chi tiết chủ đề"
url = "/blog/categories/:slug"
layout = "default"
description = "Chi tiết chủ đề"
is_hidden = 0

[blogPosts postsByCategory]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 15
noPostsMessage = "Không có tin nào."
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
exceptCategories="product,service,company-customer"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
{% set currentCat = posts[0].categories[0] %}

<div class="dt-breadcrumb container text-lg">
  <a href="{{'home'|page}}" class="font-semibold">{{'common.homepage'|_}}</a>
  <img src="{{'assets/images/icons/chevron-right.svg'|theme}}" class="inline-block px-4">
  <a href="{{'news'|page}}" class="font-semibold">{{'common.blog'|_}}</a>
  <img src="{{'assets/images/icons/chevron-right.svg'|theme}}" class="inline-block px-4">
  <a class="font-semibold text-blue-500">{{currentCat.name|_}}</a>
</div>

{% if categories %}
  {% set numDisplay = 3 %}
  <section class="my-8">
    <div class="container">
        {% set topCats = categories|slice(0,numDisplay) %}
        <section class="flex flex-wrap -mx-4">
          {% for cat in topCats %}
            <div class="article-wrapper px-4 w-full md:w-1/2 lg:w-1/3 mb-6">
              {% partial 'blog/cat-box' cat=cat disabled=(cat.id != currentCat.id) %}
            </div>
          {% endfor %}
        </section>
    </div>
  </section>
{% endif %}

{% if posts %}
  <section class="container py-8">
    {% set firstPost = posts.first %}
    <article class="dt-blog__item-featured flex flex-wrap mb-12 mx-auto bg-gray-200">
      <div class="dt-blog__item-thumb">
        <a href="{{firstPost.url}}" title="{{firstPost.title}}">
        {% if firstPost.featured_images.count %}
          {% set coverImg = firstPost.featured_images.first %}
          <img class="mx-auto lazy"
              width="640"
              height="480"
              data-src="{{coverImg.path|resize(640, 480, { mode: 'crop', extension: 'jpg', quality: '80' })}}"
              data-srcset="{{coverImg.path|resize(480, 360, { mode: 'crop', extension: 'jpg', quality: '80' })}} 480w,
                           {{coverImg.path|resize(640, 480, { mode: 'crop', extension: 'jpg', quality: '80' })}} 640w,
                           {{coverImg.path|resize(1280, 960, { mode: 'crop', extension: 'jpg', quality: '80' })}} 1280w"
              data-sizes="(max-width: 480px) 480px, 640px"
              alt="{{coverImg.description}}"/>
          {% else %}
          <img class="mx-auto"
            src="{{'assets/images/placeholder.jpg'|theme}}" width="640" height="640"
            alt="{{firstPost.title}}"/>
        {% endif %}
        </a>
      </div>
      <div class="dt-blog__item-content p-6 flex-1">
        <a href="{{firstPost.url}}" class="text-blue-600 ">
          <h2 class="text-2xl font-bold">
          {{firstPost.title}}
          </h2>
        </a>
        <p class="text-gray-600 font-light mt-2 mb-4">{{firstPost.created_at|time_diff}}</p>
        {% if firstPost.excerpt %}
        <p>
          {{firstPost.excerpt}}
        </p>
        {% endif %}
      </div>
    </article>

    <div class="dt-blog--post-table flex flex-wrap -mx-4">
    {% set restPosts = posts[1:] %}
    {% for post in restPosts %}
      <div class="article-wrapper px-4 w-full md:w-1/2">
        <article class="dt-blog__item flex flex-wrap mb-4 bg-gray-200 items-center">
          <div class="dt-blog__item-thumb">
            <a href="{{post.url}}" title="{{post.title}}">
            {% if post.featured_images.count %}
              {% set coverImg = post.featured_images.first %}
              <img class="mx-auto lazy"
                  width="480"
                  height="320"
                  data-src="{{coverImg.path|resize(480, 320, { mode: 'crop', extension: 'jpg', quality: '80' })}}"
                  data-srcset="{{coverImg.path|resize(240, 180, { mode: 'crop', extension: 'jpg', quality: '80' })}} 240w,
                               {{coverImg.path|resize(480, 320, { mode: 'crop', extension: 'jpg', quality: '80' })}} 480w,
                               {{coverImg.path|resize(640, 427, { mode: 'crop', extension: 'jpg', quality: '80' })}} 640w"
                  data-sizes="(max-width: 480px) 480px, (max-width: 767px) 640px, (max-width: 1023px) 480px, 240px"
                  alt="{{ coverImg.description }}"/>
              {% else %}
              <img class="mx-auto"
                src="{{'assets/images/placeholder.jpg'|theme}}" width="640" height="640"
                alt="{{post.title}}"/>
            {% endif %}
            </a>
          </div>
          <div class="dt-blog__item-content p-4 flex-1">
            <a href="{{post.url}}">
              <h2 class="font-bold">{{post.title}}</h2>
            </a>
            <p class="text-gray-600 text-sm font-light mb-2">{{firstPost.created_at|time_diff}}</p>
            <p>
              {% if post.excerpt %}
                {{post.excerpt|truncate(100)}}
              {% else %}
                {{post.content|truncate(100)}}
              {% endif %}
            </p>
          </div>
        </article>
      </div>
    {% endfor %}
    </div>
  </section>
{% endif %}

{% set currentPage = postsByCategory.posts.currentPage %}
{% set lastPage = postsByCategory.posts.lastPage %}
{% set perPage = postsByCategory.posts.perPage %}
{% set total = postsByCategory.posts.total %}
{% set items = postsByCategory.posts.items|length %}
{%
  partial 'shared/pagination'
    currentPage = currentPage
    lastPage = lastPage
    perPage = perPage
    total = total
    items = items
%}
