title = "Chi tiết tin đăng"
url = "/blog/:slug"
layout = "default"
description = "Chi tiết tin đăng"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = 404

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"

[blogPosts related]
pageNumber = "{{ :page }}"
postsPerPage = 11
noPostsMessage = "Không có tin nào."
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
exceptCategories = "product,service,company-customer"

[seoModel]
==
<div class="dt-breadcrumb container text-lg">
  <a href="{{'home'|page}}" class="font-semibold">{{'common.homepage'|_}}</a>
  <img src="{{'assets/images/icons/chevron-right.svg'|theme}}" class="inline-block px-4">
  <a href="{{'news'|page}}" class="font-semibold">{{'common.blog'|_}}</a>
  {% if post.categories is not empty %}
    {% set firstCat = post.categories.first %}
    <img src="{{'assets/images/icons/chevron-right.svg'|theme}}" class="inline-block px-4">
    <a href="{{categoryPage|page({ slug: post.categories.first.slug })}}" class="font-semibold text-blue-500">{{post.categories.first.name}}</a>
  {% endif %}
</div>

<div class="container">
  <div class="main-wrapper flex flex-wrap -mx-4 lg:-mx-8">
    <section class="dt-blog--post py-8 w-full md:w-2/3 lg:w-3/4 px-4 lg:px-8">
      <article class="mb-8">
        <h1 class="text-3xl font-bold mb-4">{{post.title}}</h1>
        <p class="text-gray-600 italic mb-8">{{post.created_at|localizeddate('long', 'none', activeLocale)}}</p>
        <section class="dt-blog--post__body">
          {{post.content|raw}}
        </section>
      </article>
      <div class="block md:hidden hr my-6"></div>
    </section>

    {% set relatedPosts = posts|filter(p => p.id != post.id) %}
    {% set numDisplay = 10 %}
    {% if relatedPosts is not empty %}
      <div class="dt-blog--related w-full md:w-1/3 lg:w-1/4 px-4 lg:px-8">
        <div class="aside-wrapper py-4 md:py-0 bg-transparent md:bg-gray-200">
          <h2 class="font-semibold text-lg px-4 mb-6 text-center md:hidden uppercase">{{'blog.relatedPosts'|_}}</h2>
          {% for _post in relatedPosts %}
            {% if loop.index0 < numDisplay %}
            <article class="relative">
              {% if loop.index0 == 0 %}
                <div class="dt-blog__item-thumb mb-4">
                  <a href="{{_post.url}}" title="{{_post.title}}">
                  {% if _post.featured_images is not empty %}
                    {% set coverImg = _post.featured_images.first %}
                    <img class="mx-auto lazy"
                        width="360"
                        height="240"
                        data-src="{{coverImg.path|resize(360, 240, { mode: 'crop', extension: 'jpg', quality: '80' })}}"
                        data-srcset="{{coverImg.path|resize(360, 240, { mode: 'crop', extension: 'jpg', quality: '80' })}} 360w,
                                    {{coverImg.path|resize(480, 320, { mode: 'crop', extension: 'jpg', quality: '80' })}} 480w"
                        data-sizes="(max-width: 480px) 480px, 360px"
                        alt="{{ coverImg.description }}"/>
                    {% else %}
                    <img class="mx-auto"
                      src="{{'assets/images/placeholder.jpg'|theme}}" width="640" height="640"
                      alt="{{_post.title}}"/>
                  {% endif %}
                  </a>
                </div>
              {% endif %}
              <div class="dt-blog__item-content px-4 md:px-2">
                <h5 class="font-semibold {% if loop.index0 > 0 %}text-gray-700{% else %}text-lg{% endif %}">
                  <a href="{{_post.url}}">
                    {% if loop.index0 > 0 %}
                      <span class="mr-2 text-2xl">•</span>
                    {% endif %}
                    <span>{{_post.title}}</span>
                  </a>
                </h5>
                {# <p class="text-gray-600 font-light mt-2 mb-4">{{_post.created_at|time_diff}}</p> #}
                <div class="hr my-4 md:my-4"></div>
              </div>
            </article>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

