[viewBag]
==
<section id="home-about-us" class="text-center mt-12 py-8">
  <div class="container" data-responsive-within>
    {% if _gTheme_.home_about_us_desktop or _gTheme_.home_about_us_mobile %}
    <picture class="block">
      <img class="lazy"
        height="477"
        width="1226"
        data-app-src-desktop="{{_gTheme_.home_about_us_desktop|media}}"
        data-app-src-mobile="{{_gTheme_.home_about_us_mobile|media}}">
    </picture>
    {% endif %}
    {% content 'home/about-us' %}
    <div class="text-center mt-12">
      <a href="{{'about'|page}}" class="btn-theme">
        <span class="px-6">{{'home.about.detail'|_}}</span>
      </a>
    </div>
  </div>
</section>