[postsWithTag featured]
tag = "featured"
orderBy = "updated_at desc"
page = "{{ :page }}"
resultsPerPage = 4
postPage = "blog/post"
categoryPage = "blog/category"
exceptCategories = "product, service,company-customer"
==
<section id="home-blog" class="py-16 my-12 bg-gray-200">
  <div class="container">
    <h2 class="text-3xl md:text-4xl font-bold uppercase mb-8 text-center">{{'common.blog'|_}}</h2>
    {% if featured.posts %}
      <section class="flex flex-col xl:flex-row flex-wrap -mx-4">
        {% set firstPost = featured.posts.first %}
        <article class="dt-blog__item-featured at--home flex flex-wrap mb-12 relative px-4 mx-auto">
          <div class="dt-blog__item-thumb">
            <a href="{{firstPost.url}}" title="{{firstPost.title}}">
            {% if firstPost.featured_images.count %}
              {% set coverImg = firstPost.featured_images.first %}
              <img class="mx-auto lazy"
                  width="640"
                  height="480"
                  data-src="{{coverImg.path|resize(640, 480, { mode: 'crop', quality: '80', extension: 'jpg' })}}"
                  alt="{{coverImg.description}}"/>
              {% else %}
              <img class="mx-auto"
                src="{{'assets/images/placeholder.jpg'|theme}}" width="640" height="640"
                alt="{{firstPost.title}}"/>
            {% endif %}
            </a>
          </div>
          <div class="dt-blog__item-content absolute bottom-0 flex-1 inset-x-0 px-4">
            <a href="{{firstPost.url}}">
              <h2 class="font-bold p-8 text-2xl text-white bg-gradient-to-t from-black to-transparent">
                {{firstPost.title}}
              </h2>
            </a>
          </div>
        </article>

        <div class="home-blog--post-table flex flex-col md:flex-row lg:flex-1 xl:flex-col px-4 -mx-4">
        {% set restPosts = featured.posts[1:] %}
        {% for post in restPosts %}
          <div class="article-wrapper px-4 w-full">
            <article class="dt-blog__item at--home w-full sm:w-auto flex flex-wrap lg:flex-col xl:flex-row mb-6 xl:mb-4 items-stretch md:items-center xl:items-stretch md:bg-white">
              <div class="dt-blog__item-thumb">
                <a href="{{post.url}}" title="{{post.title}}">
                {% if post.featured_images.count %}
                  {% set coverImg = post.featured_images.first %}
                  <img class="mx-auto lazy"
                      width="480"
                      height="320"
                      data-src="{{coverImg.path|resize(480, 320, { mode: 'crop', quality: '80', extension: 'jpg' })}}"
                      alt="{{ coverImg.description }}"/>
                  {% else %}
                  <img class="mx-auto"
                    src="{{'assets/images/placeholder.jpg'|theme}}" width="640" height="640"
                    alt="{{post.title}}"/>
                {% endif %}
                </a>
              </div>
              <div class="dt-blog__item-content px-2 py-0 sm:p-4 flex-1 relative flex flex-col justify-between">
                <a href="{{post.url}}"><h2 class="font-bold mb-2">{{post.title}}</h2></a>
                <p class="text-xs md:text-sm text-gray-700 font-light leading-none">{{post.created_at|time_diff}}</p>
              </div>
            </article>
          </div>
        {% endfor %}
        </div>
      </section>
    {% endif %}

    <div class="text-center py-4">
      <a href="{{'news'|page}}" role="button" class="btn-theme">
        <span>{{'common.viewAll'|_}}</span>
      </a>
    </div>
  </div>
</section>
