[viewBag]
==
<section id="home-core-values" class="bg-goline-y text-center my-12 py-12 md:pt-0 mx-auto" style="max-width: 2000px">
  <h2 class="bg-goline font-bold md:text-4xl pb-40 pt-20 text-3xl text-white uppercase">{{'home.coreValue.title'|_}}</h2>
  <div class="-mt-32 px-4 xl:container">
    <div class="flex flex-wrap -mx-4">
      {% for idx in 1..3 %}
        {% set photo = attribute(_gTheme_, 'home_core_value_photo_' ~ idx) %}
        {% set title = 'home.coreValue.point.' ~ idx ~ '.title' %}
        {% set content = 'home.coreValue.point.' ~ idx ~ '.content' %}
        <div class="w-full md:w-1/3 p-4">
          <article class="home-core-value__item br-10-px overflow-hidden relative mx-auto">
            <div class="home-core-value__item-thumb">
              <img class="lazy"
                data-src="{{photo|media|resize(480, false, { quality: '80' })}}"
                width="480"
                height="320"
                alt="{{'home.coreValue.point.1.title'|_}}">
            </div>
            <div class="home-core-value__item-content absolute inset-0 z-10 flex flex-col items-center justify-center text-center">
              <h3 class="core-value__title text-4xl md:text-xl lg:text-4xl my-2 font-bold text-white">{{title|_}}</h3>
              <p class="core-value__content lg:text-lg text-white">{{content|_}}</p>
            </div>
          </article>
          <p class="core-value__mobile px-2 md:hidden text-white mx-auto mt-4 mb-8">{{content|_}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>