[viewBag]
==
{% set arr = _gTheme_.home_customer_list %}
{# {% set arr = arr|merge(arr) %}
{% set arr = arr|merge(arr) %}
{% set arr = arr|merge(arr) %} #}

{% set itemPerSlide = 8 %}
{% if arr %}
  <section id="home-customer" class="text-center py-12 md:py-4 my-12">
  <h2 class="text-3xl md:text-4xl font-bold uppercase mb-8">{{'home.customer'|_}}</h2>
  {% if arr|length < itemPerSlide + 1 %}
    <div class="container">
      <div class="flex flex-row flex-wrap -mx-2 md:-mx-4">
        {% for cust in arr %}
          {% set custName = attribute(cust, 'name_' ~ activeLocale) %}
          {% set custWebsite = attribute(cust, 'website') %}
          <picture class="p-2 md:p-4 w-1/2 lg:w-1/4">
            <a href="{{custWebsite}}" target="_blank" title="{{custName}}">
              <div class="home-brand-card br-10-px bg-white h-full flex items-center p-2 md:p-6 lifting">
                {% set custLogo = cust.logo|media %}
                <img class="home-brand-logo mx-auto lazy" data-src="{{custLogo}}" width="100" height="100" alt="">
              </div>
            </a>
          </picture>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="container keen-slider-wrapper" id="home-customer-slider"
      data-auto-play="{{_gTheme_.home_customer_slider_autoplay}}"
      data-loop="{{_gTheme_.home_customer_slider_is_loop}}">
      <div class="keen-slider">
      {% set numSlide = (arr|length / itemPerSlide)|round(0, 'ceil') %}
      {% for slideIdx in 0..(numSlide - 1) %}
        <div class="keen-slider__slide">
          <div class="flex flex-row flex-wrap flex-1 -mx-2 md:-mx-4">
            {% set slideBase = slideIdx * itemPerSlide %}
            {% for itemIdx in 0..(itemPerSlide - 1) %}
              {% set custIdx = slideBase + itemIdx %}
              {% if custIdx < arr|length %}
                {% set cust = attribute(arr, custIdx) %}
                {% set custName = attribute(cust, 'name_' ~ activeLocale) %}
                {% set custWebsite = attribute(cust, 'website') %}
                <picture class="p-2 md:p-4 w-1/2 md:w-1/4">
                  <a href="{{custWebsite}}" target="_blank" title="{{custName}}">
                    <div class="home-brand-card br-10-px bg-white h-full flex items-center p-2 md:p-0 lifting">
                      {% set custLogo = cust.logo|media %}
                      <img class="home-brand-logo mx-auto" src="{{custLogo}}" width="100" height="100" alt="">
                    </div>
                  </a>
                </picture>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      </div>

      {% if _gTheme_.home_customer_slider_show_arrows %}
        {% partial 'shared/slider/arrows' %}
      {% endif %}

      {% if _gTheme_.home_customer_slider_show_dots %}
        {% partial 'shared/slider/dots' %}
      {% endif %}
    </div>
  {% endif %}
  </section>
{% endif %}