<section id="site-hero" class="mb-16">
  {% if _gTheme_.main_slider_photo_list %}
    <div class="keen-slider-wrapper" id="site-main-slider"
      data-responsive-within
      data-auto-play="{{_gTheme_.main_slider_autoplay}}"
      data-loop="{{_gTheme_.main_slider_is_loop}}"
      data-slides-per-view="{{_gTheme_.main_slider_slides_per_view}}"
      data-drag-speed="{{_gTheme_.main_slider_drag_speed}}">
      <div class="keen-slider">
        {% if _gTheme_.main_slider_can_optimize_images %}
          {% set quality = _gTheme_.main_slider_optimize_quality %}
          {% for photo in _gTheme_.main_slider_photo_list %}
            <div class="keen-slider__slide">
              <a href="{{photo.url}}" target="_blank">
                <img class="w-full"
                  data-app-src-desktop="{{photo['desktop_photo_' ~ activeLocale]|media|resize(1920, false, { quality: quality, extension: 'jpg'})}}"
                  data-app-src-mobile="{{photo['mobile_photo_' ~ activeLocale]|media|resize(640, false, { quality: quality, extension: 'jpg'})}}">
              </a>
            </div>
          {% endfor %}
        {% else %}
          {% for photo in _gTheme_.main_slider_photo_list %}
            <div class="keen-slider__slide">
              <a href="{{photo.url}}" target="_blank">
                <img class="w-full"
                  data-app-src-desktop="{{photo['desktop_photo_' ~ activeLocale]|media}}"
                  data-app-src-mobile="{{photo['mobile_photo_' ~ activeLocale]|media}}">
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      {% if _gTheme_.main_slider_show_arrows %}
        {% partial 'shared/slider/arrows' %}
      {% endif %}

      {% if _gTheme_.main_slider_show_dots %}
        {% partial 'shared/slider/dots' className="float-parent" %}
      {% endif %}
    </div>
  {% endif %}
</section>
