[viewBag]
==
{% set arr = _gTheme_.home_partner_list %}
{# {% set arr = arr|merge(arr) %}
{% set arr = arr|merge(arr) %} #}

{# OLD: 6 slides per page #}
{# 4 slides per page #}
{% set itemPerSlide = 4 %}

{% if arr %}
  <section id="home-partner" class="text-center py-12 my-12">
    <div class="container">
      <div class="p-8 bg-gray-900 br-20-px">
        <h2 class="text-3xl md:text-4xl text-white mt-4 mb-20 md:mb-0 font-bold uppercase">
          <span class="inline-block border-b-4 pb-4 md:border-none">
            {{'home.strategic.partnership'|_}}
          </span>
        </h2>
        {% if arr|length < (itemPerSlide + 1) %}
          <div class="flex flex-row flex-wrap -mx-4">
            {% for partner in arr %}
              <picture class="flex items-center justify-center mb-16 md:mb-4 px-4 w-full sm:w-1/2 lg:w-1/4">
                <a href="{{partner.website}}" target="_blank" title="{{partner.name}}">
                  <img class="home-brand-logo mx-auto lazy" data-src="{{partner.logo|media}}" width="100" height="100" alt="{{partner.name}}">
                </a>
              </picture>
            {% endfor %}
          </div>
        {% else %}
          <div class="keen-slider-wrapper" id="home-partner-slider"
            data-auto-play="{{_gTheme_.home_partner_slider_autoplay}}"
            data-loop="{{_gTheme_.home_partner_slider_is_loop}}">
            <div class="keen-slider">
            {% set numSlide = (arr|length / itemPerSlide)|round(0, 'ceil') %}
            {% for slideIdx in 0..(numSlide - 1) %}
              <div class="keen-slider__slide">
                <div class="flex flex-row flex-wrap -mx-4">
                  {% set slideBase = slideIdx * itemPerSlide %}
                  {% for itemIdx in 0..(itemPerSlide - 1) %}
                    {% set pnIdx = slideBase + itemIdx %}
                    {% if pnIdx < arr|length %}
                      <picture class="flex items-center justify-center mb-16 md:mb-4 px-4 w-full sm:w-1/2 lg:w-1/4">
                        <a href="{{arr[pnIdx].website}}" target="_blank" title="{{arr[pnIdx].name}}">
                          <img class="home-brand-logo mx-auto" src="{{arr[pnIdx].logo|media}}" width="100" height="100" alt="{{arr[pnIdx].name}}">
                        </a>
                      </picture>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}