<section id="home-process" class="my-12">
  <div class="section-inner bg-gray-200 py-24">
    <div class="container">
      <h2 class="text-center text-3xl md:text-4xl font-bold uppercase mb-12">{{'home.process.title'|_}}</h2>
      <div class="flex md:flex-row md:flex-wrap">
        <div class="home-process__left-panel hidden md:block md:w-3/5 text-center">
          <div class="pb-4">
            <div role="button" class="home-process__tab relative z-10 overflow-hidden bg-white h-full br-10-px flex flex-col justify-center tab-selected text-white">
              <h3 class="md:text-xl lg:text-3xl font-semibold mb-1">{{'home.process.point.1.title'|_}}</h3>
              <p class="text-lg">{{'home.process.point.1.content'|_}}</p>
            </div>
          </div>
          <div class="py-2">
            <div role="button" class="home-process__tab relative z-10 overflow-hidden bg-white h-full br-10-px flex flex-col justify-center">
              <h3 class="md:text-xl lg:text-3xl font-semibold mb-1">{{'home.process.point.2.title'|_}}</h3>
              <p class="text-lg">{{'home.process.point.2.content'|_}}</p>
            </div>
          </div>
          <div class="pt-4">
            <div role="button" class="home-process__tab relative z-10 overflow-hidden bg-white h-full br-10-px flex flex-col justify-center">
              <h3 class="md:text-xl lg:text-3xl font-semibold">{{'home.process.point.3.title'|_}}</h3>
              <p class="text-lg">{{'home.process.point.3.content'|_}}</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-2/5 md:pl-4">
          <div class="keen-slider-wrapper" id="home-process-slider">
            <div class="keen-slider flex-col md:flex-row">
              {% for idx in 1..3 %}
                {% set photo = attribute(_gTheme_, 'home_process_photo_' ~ idx) %}
                {% set title = 'home.process.point.' ~ idx ~ '.title' %}
                {% set content = 'home.process.point.' ~ idx ~ '.content' %}
                <div class="keen-slider__slide br-10-px mb-8 relative md:mb-0">
                  <img class="w-full lazy"
                    width="470"
                    height="605"
                    data-src="{{photo|media}}"
                    alt="">
                  <div class="home-process__mobile text-center md:hidden py-6 px-4 text-white">
                    <h3 class="text-3xl font-semibold mb-1">{{title|_}}</h3>
                    <p class="text-sm">{{content|_}}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
