[viewBag]

[postsWithTag featured]
tag = "featured"
orderBy = "updated_at asc"
page = "{{ :page }}"
resultsPerPage = 6
postPage = "product-detail"
categoryPage = "blog/category"
includeCategories = "product"
==
<section id="home-product-service" class="my-12">
  <div class="container">
    <h2 class="text-3xl md:text-4xl font-bold uppercase mb-8 text-center">{{'home.product.title'|_}}</h2>
    {% if featured.posts %}
      <section class="flex flex-wrap -mx-4">
        {% for post in featured.posts %}
          <div class="article-wrapper px-4 w-full md:w-1/2 lg:w-1/3 mb-6">
            {% partial 'blog/post-box' post=post %}
          </div>
        {% endfor %}
      </section>
    {% endif %}
    <div class="text-center py-2">
      <a href="{{'product'|page}}" role="button" class="btn-theme">
        <span>{{'common.viewAll'|_}}</span>
      </a>
    </div>
  </div>
</section>