@desktop: ~"only screen and (min-width: 1024px)";
@not_desktop: ~"only screen and (max-width: 1023px)";
@ipad_desktop: ~"only screen and (min-width: 768px)";
@ipad: ~"only screen and (min-width: 768px) and (max-width: 1023px)";
@tablet: ~"only screen and (min-width: 640px) and (max-width: 1023px)";
@mobile: ~"only screen and (max-width: 639px)";
@mobile_extend: ~"only screen and (max-width: 767px)";

@cl-goline: #176bd9;
