@import './_var.less';

.dt-blog--post,
.dt-product--post {
  // max-width: 50rem!important;

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.dt-blog--post__body,
.dt-product--post__body {
  line-height: 1.7;
  p {
    margin-bottom: 1rem;
  }
  a {
    color: darken(lightgreen, 30%);
    border-bottom: 2px dashed currentColor;
  }
}


/*
  BLOG LIST
*/
article {
  img:not([src$="svg"]) {
    object-fit: cover;
    width: 100%;
  }
}

.dt-blog__item-featured > .dt-blog__item-thumb,
.dt-blog__item > .dt-blog__item-thumb {
  width: 100%;
  overflow: hidden;
}

.dt-blog__item-featured > .dt-blog__item-thumb img {
  max-height: 428px;
}

.dt-blog__item-featured.at--home > .dt-blog__item-thumb img {
  max-height: 542px;
}

@media @mobile {
  .dt-blog__item.at--home > .dt-blog__item-thumb {
    width: 170px;
  }
}

@media @mobile_extend {
  .dt-blog__item-featured {
    width: 100%;
  }
}

@media @desktop {
  .dt-blog__item-featured > .dt-blog__item-thumb {
    // ratio: W:H = 3:2
    width: 640px;
    height: 428px;
  }
  .dt-blog__item-featured.at--home > .dt-blog__item-thumb {
    // ratio: W:H = 3:2
    width: 650px;
    height: 542px;
  }
  .dt-blog__item > .dt-blog__item-thumb {
    // ratio: W:H = 5:4
    width: 240px;
    height: 192px;
  }
  .dt-blog__item.at--home > .dt-blog__item-thumb {
    // ratio: W:H = 5:4
    width: 204px;
    height: 170px;
  }
  .dt-blog__item-thumb img {
    height: 100%;
  }
}
@media @tablet {
  .dt-blog__item,
  .dt-blog__item-featured {
    max-width: 640px;
  }
}

.dt-blog__item-box.disabled::after,
.dt-blog__item-box--overlay::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

// .dt-blog__item-box.disabled {
//   pointer-events: none;
// }

.dt-blog__item-box.disabled img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.dt-blog__item-box.disabled::after {
  background: darkgray;
  opacity: 0.5;
}

.dt-blog__item-box:hover > .dt-blog__item-box--content {
  display: none;
}

.dt-blog__item-box--overlay {
  transform: translateY(100%);
  transition: transform 750ms cubic-bezier(0.19, 1, 0.22, 1);
}

.dt-blog__item-box:hover > .dt-blog__item-box--overlay {
  transform: translateY(0);
}

.dt-blog__item-box--overlay::after {
  opacity: .5;
  z-index: -1;
  transition: opacity 750ms cubic-bezier(0.19, 1, 0.22, 1);
}

.dt-blog__item-box--overlay::after {
  background: linear-gradient(315deg, #222ae2 -0.14%, #00d1ff 100.14%);
  opacity: 0;
}

.dt-blog__item-box:hover .dt-blog__item-box--overlay::after {
  opacity: .85;
}
