@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/Averta/Averta-Bold.otf') format('opentype'),
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/Averta/Averta-Semibold.otf') format('opentype'),
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/Averta/Averta-Regular.otf') format('opentype'),
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/Averta/Averta-Light.otf') format('opentype'),
}
