@import './_var.less';

.home-brand-logo {
  width: auto;
}

#home-customer .home-brand-logo {
  max-height: 275px;
}

@media @mobile_extend {
  #home-partner .home-brand-logo {
    max-width: 200px;
  }
}

.home-brand-card {
  min-height: 132px;
}

.home-core-value__item p {
  height: 0;
  overflow: hidden;
}

@media @mobile_extend {
  #home-core-values > h2 {
    background: none;
  }
  .home-core-value__item,
  .core-value__mobile {
    max-width: 640px;
  }
}

@media @ipad_desktop {
  #home-core-values {
    background: white;
  }

  .home-core-value__item::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #2f3035;
    transition: opacity 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: .6;
  }
  .home-core-value__item:hover::after {
    opacity: .89;
  }
  .home-core-value__item p {
    transition: all 500ms 0ms;
    opacity: 0;
    max-width: 80%;
    line-height: 1.25;
  }
  .home-core-value__item:hover p {
    opacity: 1;
    height: 130px;
  }
}

.home-process__left-panel > div {
  height: calc(33.33%);
}

.home-process__tab::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url('../images/backgrounds/flower-left.png'),
    @cl-goline;
  background-repeat: no-repeat;
  background-position: -35% 80%;
  background-size: 56%;
  transition: opacity 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
  z-index: -1;
}
.home-process__left-panel > div:nth-child(2) > .home-process__tab::after {
  background-position: 30% 6%;
  background-size: 53%;
}
.home-process__left-panel > div:nth-child(3) > .home-process__tab::after {
  background-position: 105% 80%;
  background-size: 35%;
}

.home-process__tab.tab-selected::after {
  opacity: 1;
}

@media @mobile {
  #home-process .keen-slider__slide > img {
    max-height: 330px;
    object-fit: cover;
  }
}

.keen-slider__slide .home-process__mobile {
  background: url('../images/backgrounds/flower-right.png'),
    @cl-goline;
  background-repeat: no-repeat;
  background-position: -35% 80%;
  background-size: 56%;
}

.keen-slider__slide:nth-child(2) .home-process__mobile {
  background-position: 30% 6%;
  background-size: 53%;
}

.keen-slider__slide:nth-child(3) .home-process__mobile {
  background-position: 105% 80%;
  background-size: 45%;
}
