@dot-radius: 1rem;
@arrow-size: 2rem;

#site-main-slider .keen-slider__slide {
  // min-height: 30vh;
  max-height: 100vh;
}

.keen-slider-wrapper,
.dots.float-parent {
  position: relative;
}

.dots {
  display: flex;
  padding: @dot-radius 0;
  justify-content: center;
}

.dots.float-parent {
  margin-top: -5rem;
  z-index: 1;
}

.dot {
  border: none;
  width: @dot-radius;
  height: @dot-radius;
  background: transparent;
  // border: 1px solid fade(gray, 50%);
  background: fade(gray, 30%);
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dots.float-parent .dot {
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: transparent;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: fade(blue, 65%);
}

.dots.float-parent .dot--active {
  background: rgba(255, 255, 255, 0.8);
}

.arrow {
  width: @arrow-size;
  height: @arrow-size;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
