@import './_var.less';
@import './font.less';

/*
  WRITE THEME SPECIFIC CSS
  Add rules to this file when your style depends on backend theme configuration
*/
html {
  font-size: 16px;
  font-family: 'Averta', Arial, Helvetica, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

main[class^="app-page"] {
  padding-top: 8.5rem;  // count tablet and desktop
}

main.app-page-home {
  padding-top: 0;
}

main.app-page-about {
  background-color: #f8f8f8;
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
  }
}

a[href] {
  transition: all 150ms ease-in-out;
}

a[href]:not(.link-ghost):hover {
  color: orange;
}

[role=button] {
  cursor: pointer;
}
a[href][role=button]:hover {
  background: orange;
  color: white;
}
a[href][role=button].btn-borderless:hover {
  background-color: transparent;
}
a[href][role=button].btn-borderless:hover > * {
  transition: all 150ms ease-in-out;
}
a[href][role=button].btn-borderless:hover > .btn--text {
  color: orange;
}
a[href][role=button].btn-borderless:hover > .btn--icon-block {
  background-color: orange;
}

.turbolinks-progress-bar {
  background-color: orange;
}
/*
  COMMON
*/
.bg-goline {
  background: url('../images/backgrounds/flower-left.png'),
    url('../images/backgrounds/flower-right.png'),
    @cl-goline;
  background-repeat: no-repeat, no-repeat;
  background-position: 30% 35%, 90% 60%;
  background-size: 15%, 20%;
}

.bg-goline-y {
  background: url('../images/backgrounds/flower-left.png'),
    url('../images/backgrounds/flower-right.png'),
    @cl-goline;
  background-repeat: no-repeat, no-repeat;
  background-position: -20% -5%, 150% 110%;
  background-size: 60%, 80%;
}

/*
  MOBILE MENU
*/
@media @mobile_extend {
  #site-mobile-menu {
    transition: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform: translateX(100%);
  }
  #site-mobile-menu.is-open {
    transform: translateX(0);
  }
}

#site-footer .partial-vr {
  position: absolute;
  top: 5rem;
  left: 0;
  bottom: 5rem;
  width: 2px;
  background: darkgray;
}

/*
  LAZY LOAD
*/
img:not([src]):not([srcset]) {
  height: 180px;
  visibility: hidden;
  article & {
    visibility: visible;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 80%
      ),
      #efefef;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
  }
}
