<div class="keen-slider-wrapper" id="{{wrapperId}}">
  <div class="keen-slider">
    <div class="keen-slider__slide">
      <img
        class="w-full"
        src="{{'assets/images/banners/header-2.png'|theme}}"
        alt=""
      />
    </div>
    <div class="keen-slider__slide">
      <img
        class="w-full"
        src="{{'assets/images/banners/header-3.png'|theme}}"
        alt=""
      />
    </div>
    <div class="keen-slider__slide">
      <img
        class="w-full"
        src="{{'assets/images/banners/header-4.png'|theme}}"
        alt=""
      />
    </div>
    <div class="keen-slider__slide">
      <img
        class="w-full"
        src="{{'assets/images/banners/header-5.png'|theme}}"
        alt=""
      />
    </div>
  </div>

  {% if showArrows %}
    {% partial 'shared/slider/arrows' %}
  {% endif %}

  {% if showDots %}
    {% partial 'shared/slider/dots' %}
  {% endif %}
</div>
