<div class="flex flex-col justify-between h-full">
	<div class="bottom-row">

		<p class="text-right author--title">2023/07/04</p>

		<p>ベトナムの最有力Fintech企業であるGoline Corporationの日本法人である当社は、日本の証券・金融IT企業の皆様に、Goline Corporationが保有する全てのITスキル及びノウハウをご提供させていただきます。</p>

		<p>グローバルに、そして多様な空間を駆け巡るマネーのマネジメントを、皆様とご一緒に、</p>

		<p>ITの力で‘Smart but Simple’に変革しようではありませんか。</p>

		<p>皆様からの多大なるご支援・ご協力をお願い申し上げます。</p>

		<p style="text-align: right;">2023年5月10日</p>

		<p style="text-align: right;">Goline Global Japanテクノロジー合同会社</p>

		<p style="text-align: right;">職務執行役　目黒　博</p>
	</div></div>