<div class="flex flex-col justify-between h-full">
	<div class="top-row">
		<p align="left">Thế giới đang thay đổi nhanh hơn bao giờ hết. Lĩnh vực công nghệ thông tin cho thị trường chứng khoán, tài chính thậm chí còn nhanh hơn thế.
			<br>
			<br>Với hơn 10 năm kinh nghiệm phát triển trong lĩnh vực giải pháp cho thị trường chứng khoán, tài chính, chúng tôi hiểu rõ sự cần thiết của sản phẩm chất lượng cao, ổn định và đáp ứng nhanh nhất những thay đổi của thị trường.
			<br>
			<br>Với quan điểm lấy khách hàng làm trọng tâm, văn hóa làm việc thống nhất, tập trung vào chuyên môn sâu, quy trình sản xuất chú trọng vào chất lượng và an toàn thông tin, Goline đã và đang không ngừng cải tiến chất lượng và dịch vụ, đã trở thành một thương hiệu hàng đầu về chất lượng trong lĩnh vực phần mềm chứng khoán.
			<br>
			<br>Xã hội tương lai sẽ có nhiều thay đổi nhanh hơn nữa dựa trên sự phát triển của công nghệ thông tin. Công ty chúng tôi luôn nỗ lực thay đổi nhanh hơn để vượt lên những đổi thay đó và đáp ứng tốt nhất những yêu cầu khắt khe nhất của thị trường.
			<br>
			<br>
		</p>
	</div>
	<div class="bottom-row">
        <p class="text-right font-bold author--name text-lg text-blue-600">Lê Ngọc Tuấn</p>
        <p class="text-right author--title">CEO</p>
    </div>
</div>