<div class="flex flex-col justify-between h-full">
	<div class="top-row">

		<p>Today’s world is changing faster than ever. Even faster is the development of information technology for stock and financial markets. </p>

		<p>With over 10 years of experience in developing solutions for the securities and financial markets, we understand customers' need for high-quality, stable products which can quickly adapt to market changes.</p>

		<p>With a customer-centric point of view, a unified working culture, a focus on specialized expertise, and a production process that focuses on quality and information security, Goline constantly strives to improve the quality of our products and services. We have become a leading brand in quality in the stock software sector.</p>

		<p>Society will continue to change more rapidly in tandem with information technology development. We strive to develop ourselves faster to stay ahead of market changes and satisfy the most demanding market needs.</p>

		<p>
			<br>
		</p>

		<p style="text-align: right;">LE NGOC TUAN</p>

		<p style="text-align: right;">CEO</p>
	</div></div>