{# MAIN SLIDER #}
<style>#site-main-slider .keen-slider__slide{min-height:30vh;max-height:100vh}.keen-slider-wrapper, .dots.float-parent{position:relative}.dots{display:flex;padding:1rem 0;justify-content:center}.dots.float-parent{margin-top:-5rem;z-index:1}.dot{border:none;width:1rem;height:1rem;background:transparent;background:rgba(128,128,128,0.3);border-radius:50%;margin:0 5px;padding:5px;cursor:pointer}.dots.float-parent .dot{border:1px solid rgba(255,255,255,0.8);background:transparent}.dot:focus{outline:none}.dot--active{background:rgba(0,0,255,0.65)}.dots.float-parent .dot--active{background:rgba(255,255,255,0.8)}.arrow{width:2rem;height:2rem;position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);fill:#fff;cursor:pointer}.arrow--left{left:5px}.arrow--right{left:auto;right:5px}.arrow--disabled{fill:rgba(255,255,255,0.5)}</style>

{# NAV MENU #}
<style>
  .headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  .headroom--pinned {
    transform: translateY(0%);
  }
  .headroom--unpinned {
    transform: translateY(-100%);
  }
  .locale-list > button + button {
    margin-left: .5rem;
  }
</style>
