<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('bonniss26/company/services') ?>"><?= e(trans('bonniss26.company::lang.service.label')) ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>