<div class="pagination flex justify-center py-8">
  {% if lastPage > 1 %}
    {% if currentPage == 1 %}
      <a class="p-2 invisible">{{'common.pagination.prev'|_}}</a>
    {% else %}
      <a href="?page={{currentPage - 1}}" class="p-2 border rounded-l-3xl text-blue-500" title="{{'common.pagination.prev'|_}}">
        <svg class="inline-block" style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
        </svg>
      </a>
    {% endif %}

    <span class="text-lg py-2 px-4 border">{{'common.pagination.currentPage'|_({ items: items, curr: currentPage, last: lastPage })}}</span>

    {% if currentPage == lastPage %}
      <a class="p-2 invisible">{{'common.pagination.next'|_}}</a>
    {% else %}
      <a href="?page={{currentPage + 1}}" class="p-2 border rounded-r-3xl text-blue-500" title="{{'common.pagination.next'|_}}">
        <svg class="inline-block" style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
        </svg>
      </a>
    {% endif %}
  {# {% else %}
    <span class="text-lg py-2 px-4 border">{{'common.pagination.showing'|_({ curr: items, total: total })}}</span> #}
  {% endif %}
</div>
