@tailwind base;
@tailwind components;

/*
  CUSTOM COMPONENT
  ref: https://tailwindcss.com/docs/extracting-components/#extracting-css-components-with-apply
*/

.bg-app-theme {
  background-color: #176bd9
}

.profile-main-column {
  background-color: transparent;
}

@screen lg {
  .profile-main-column {
    @apply bg-app-theme
  }
}

.text-app-theme {
  color: #176bd9
}

.btn-theme {
  @apply bg-app-theme inline-flex items-center justify-center text-white mx-auto;
  border-radius: 10px;
  min-width: 120px;
  height: 40px;
}

@screen sm {
  .btn-theme {
    min-width: 170px;
    height: 52px;
  }
}

.br-10-px {
  border-radius: 10px;
}

.br-20-px {
  border-radius: 20px;
}

.hr {
  padding-bottom: 1px;
  background: lightgray;
}

.dt-header__nav-menu {
  min-height: 3rem;
}
.dt-header__nav-menu-item {
  position: relative;
}
.dt-header__nav-menu-item::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 4px;
  @apply bg-app-theme;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dt-header__nav-menu-item.is--active::before,
.dt-header__nav-menu-item:not(.is--active):hover::before {
  transform: translate(-50%, 0) scaleX(1);
}
.dt-header__nav-menu-item.is--active > a[href]:not(.link-ghost),
.dt-header__nav-menu-item > a[href]:not(.link-ghost):hover {
  @apply text-app-theme;
}

.shadow-goline {
  box-shadow: 0px 4px 40px rgba(34, 74, 164, 0.15);
}

@screen lg {
  .company-vision-block h3 {
    font-size: 2.5rem;
  }
  .company-vision-block p {
    font-size: 1.25rem;
  }
}

.indent-4 {
  text-indent: 1rem
}

/*
  CUSTOM COMPONENT END
*/

@tailwind utilities;
