title = "Page not found (404)"
url = "/404"
layout = "default"
==
<div class="py-20">
  <div class="container">
    <img src="{{'assets/images/404.png'|theme}}" class="mx-auto"
      width="256" height="256" alt="Không tìm thấy trang">
    <h1 class="text-5xl text-gray-600 text-center">{{'common.404'|_}}</h1>
  </div>
</div>
