title = "Giới thiệu"
url = "/about"
layout = "default"
description = "Giới thiệu về chúng tôi"
is_hidden = 0

[viewBag]
localeTitle[ja] = "紹介"
localeUrl[ja] = "/about"
localeDescription[ja] = "企業情報"
==
{% put styles %}
  <link href="{{ [
    'assets/less/about.less',
  ]|theme }}" rel="stylesheet">
{% endput %}

<div class="dt-breadcrumb container text-lg mb-12">
  <a href="{{'home'|page}}" class="font-semibold">{{'common.homepage'|_}}</a>
  <img src="{{'assets/images/icons/chevron-right.svg'|theme}}" class="inline-block px-4">
  <a class="font-semibold text-blue-500">{{'about.title'|_}}</a>
</div>

{% partial 'about/ceo-words' %}
{% partial 'about/profile' %}
{% partial 'about/field' %}
{% partial 'about/experience' %}
{% partial 'about/process' %}
{% partial 'about/staff' %}
{% partial 'about/technology' %}

{% put scripts %}
  {% if config('app.debug') %}
    <script src="{{'assets/dev/about.js'|theme}}"></script>
  {% else %}
    <script src="{{'assets/dist/about.js'|theme}}"></script>
  {% endif %}
{% endput %}