title = "Liên hệ"
url = "/contact"
layout = "default"
description = "Liên hệ với chúng tôi"
is_hidden = 0

[viewBag]
localeDescription[ja] = "お問い合わせ"
localeDescription[en] = "Contact us"
==
<div class="dt-breadcrumb container text-lg">
  <a href="{{'home'|page}}" class="font-semibold">{{'common.homepage'|_}}</a>
  <img src="{{'assets/images/icons/chevron-right.svg'|theme}}" class="inline-block px-4">
  <a class="font-semibold text-blue-500">{{'contact.title'|_}}</a>
</div>

<section class="bg-gray-100 my-8">
  <div class="container py-12">
    {% set banner = _gTheme_.contact_top_banner|media %}
    {% if banner %}
      <img class="w-full mb-8 lazy br-10-px" data-src="{{banner}}"
        width="1175" height="450">
    {% endif %}
    <div class="wrapper px-2 md:px-12 lg:px-32">
      {% content 'company/contact' %}
      {% partial 'contact/map' %}
    </div>
  </div>
</section>