title = "Khách hàng"
url = "/customer"
layout = "default"
description = "Khách hàng của công ty"
is_hidden = 0

[viewBag]
localeDescription[ja] = "主な顧客"
localeDescription[en] = "Our Customers"
==
<div class="dt-breadcrumb container text-lg">
  <a href="{{'home'|page}}" class="font-semibold">{{'common.homepage'|_}}</a>
  <img src="{{'assets/images/icons/chevron-right.svg'|theme}}" class="inline-block px-4">
  <a class="font-semibold text-blue-500">{{'customer.title'|_}}</a>
</div>

{% set custs = _gTheme_.home_customer_list %}
{# {% set custs = custs|merge(custs) %}
{% set custs = custs|merge(custs) %} #}

<section class="bg-gray-100 my-8">
  <div class="container py-8">
    {% if custs %}
    <div class="flex flex-wrap -mx-4">
      {% for cust in custs %}
        {% set custName = attribute(cust, 'name_' ~ activeLocale) %}
        {% set custDesc = attribute(cust, 'desc_' ~ activeLocale) %}
        <div class="article-wrapper px-4 mb-12 w-full md:w-1/2 lg:w-1/3">
          <article class="dt-customer__item br-10-px relative overflow-hidden bg-white">
            <div class="dt-customer__item-thumb h-56 flex items-center justify-center relative bg-gray-200">
              {% set custUrl = cust.website ? cust.website : '#' %}
              <a href="{{custUrl}}" target="_blank" title="{{custName}}" class="absolute inset-0"></a>
              {% if cust.logo %}
                {% set custLogo = cust.logo|media %}
                {% if custLogo ends with 'svg' %}
                  <img class="w-auto lazy" style="max-height: 100%;"
                    data-src="{{custLogo}}"
                    width="399"
                    height="266"
                    alt="{{custName}}">
                {% else %}
                  <img class="mx-auto lazy w-full"
                      width="399"
                      height="266"
                      data-src="{{custLogo|resize(399, 266, { mode: 'crop', extension: 'png', quality: '80' })}}"
                      alt="{{custName}}"/>
                {% endif %}
              {% else %}
                <img class="mx-auto"
                  src="{{'assets/images/placeholder.png'|theme}}" width="399" height="266"
                  alt="{{custName}}"/>
              {% endif %}
            </div>
            <div class="dt-customer__item-content p-6">
              <h2 class="text-2xl text-blue-600 font-bold mb-4"><a href="{{custUrl}}" target="_blank">{{custName}}</a></h2>
              <div class="dt-customer__item-desc">
                {{custDesc|raw}}
              </div>
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>