title = "Error page (500)"
url = "/error"
layout = "default"
==
<div class="py-20">
  <h1 class="text-5xl text-gray-600 text-center mb-4">{{'common.error'|_}}</h1>
  <div style="opacity: .9; height: 200px; background: url({{'assets/images/error.png'|theme}}) center/contain no-repeat"></div>
</div>