title = "Trang chủ"
url = "/"
layout = "default"
description = "Đầy đủ những điều bạn cần biết về chúng tôi"
is_hidden = 0

[viewBag]
localeUrl[en] = "/"
localeUrl[ja] = "/"
localeMeta_title[en] = "Goline Home"
localeMeta_title[ja] = "Goline Home"
localeDescription[ja] = "当社について全ての情報"
==
{% put styles %}
  <link href="{{ [
    'assets/less/home.less',
  ]|theme }}" rel="stylesheet">
{% endput %}


{% if _gTheme_.enable_home_slider %}
  {% partial 'home/hero' %}
{% endif %}

{% if _gTheme_.enable_home_about_us %}
  {% partial 'home/about-us' %}
{% endif %}
{% if _gTheme_.enable_home_core_value %}
  {% partial 'home/core-value' %}
{% endif %}
{% if _gTheme_.enable_home_product %}
  {% partial 'home/product' %}
{% endif %}
{% if _gTheme_.enable_home_process %}
  {% partial 'home/process' %}
{% endif %}
{% if _gTheme_.enable_home_partner %}
  {% partial 'home/partner' %}
{% endif %}
{# {% if _gTheme_.enable_home_customer %}
  {% partial 'home/customer' %}
{% endif %} #}
{% if _gTheme_.enable_home_customer %}
  {% partial 'home/customer' %}
{% endif %}

{% put scripts %}
  {% if config('app.debug') %}
    <script src="{{'assets/dev/home.js'|theme}}"></script>
  {% else %}
    <script src="{{'assets/dist/home.js'|theme}}"></script>
  {% endif %}
{% endput %}