title = "Hệ thống sản phẩm"
url = "/product"
layout = "default"
description = "Hệ thống sản phẩm"
is_hidden = 0

[viewBag]
localeTitle[ja] = "商品"
localeTitle[en] = "Our Products"
localeUrl[ja] = "/product"
localeUrl[en] = "/product"
localeDescription[en] = "Our Products"
localeDescription[ja] = "商品"

[blogPosts products]
pageNumber = "{{ :page }}"
categoryFilter = "product"
postsPerPage = 10
noPostsMessage = "Không có tin nào."
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<div class="dt-breadcrumb container text-lg">
  <a href="{{'home'|page}}" class="font-semibold">{{'common.homepage'|_}}</a>
  <img src="{{'assets/images/icons/chevron-right.svg'|theme}}" class="inline-block px-4">
  <a class="font-semibold text-blue-500">{{'common.productSystem'|_}}</a>
</div>

<section class="container py-8">
  {% if posts %}
  <div class="flex flex-wrap -mx-4">
    {% for post in posts %}
      <div class="article-wrapper px-4 mb-12 w-full md:w-1/2 lg:w-full">
        <article class="dt-product__item overflow-hidden br-10-px md:rounded-none flex flex-wrap relative md:pb-12 lg:pb-0 bg-gray-200">
          <div class="dt-product__item-thumb">
            <a href="{{post.url}}" title="{{post.title}}">
            {% if post.featured_images.count %}
              {% set coverImg = post.featured_images[0] %}
              <img class="mx-auto lazy"
                  width="615"
                  height="410"
                  data-src="{{coverImg.path|resize(615, 410, { mode: 'crop', extension: 'jpg', quality: '80' })}}"
                  data-srcset="{{coverImg.path|resize(480, 320, { mode: 'crop', extension: 'jpg', quality: '80' })}} 480w,
                               {{coverImg.path|resize(615, 410, { mode: 'crop', extension: 'jpg', quality: '80' })}} 615w"
                  data-sizes="(max-width: 480px) 480px, 615px"
                  alt="{{ coverImg.description }}"/>
              {% else %}
              <img class="mx-auto"
                src="{{'assets/images/placeholder.jpg'|theme}}" width="640" height="640"
                alt="{{post.title}}"/>
            {% endif %}
            </a>
          </div>
          <div class="dt-product__item-content absolute inset-x-0 bottom-0 md:static bg-black bg-opacity-50 md:bg-transparent p-8 flex-1">
            <h2 class="text-center md:text-left text-2xl uppercase text-white md:text-blue-600 font-bold mb-4"><a href="{{post.url}}">{{post.title}}</a></h2>
            {% if post.excerpt %}
            <p class="hidden md:block">
                {{post.excerpt}}
            </p>
            {% endif %}
          </div>
          <div class="hr"></div>
          <div class="hidden md:block absolute right-0 bottom-0 pr-6 pb-6">
            <a href="{{post.url}}" role="button" class="btn-borderless inline-flex items-center">
              <span class="btn--text mr-2 text-lg text-blue-500">{{'common.detail'|_}}</span>
              <span class="btn--icon-block inline-flex items-center justify-center h-6 w-6 bg-blue-500">
                <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.49976C0 4.22361 0.223858 3.99976 0.5 3.99976L16.5 3.99976C16.7761 3.99976 17 4.22361 17 4.49976C17 4.7759 16.7761 4.99976 16.5 4.99976L0.5 4.99976C0.223858 4.99976 0 4.7759 0 4.49976Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6464 0.646202C12.8417 0.45094 13.1583 0.45094 13.3536 0.646202L17.2071 4.49976L13.3536 8.35331C13.1583 8.54857 12.8417 8.54857 12.6464 8.35331C12.4512 8.15805 12.4512 7.84147 12.6464 7.6462L15.7929 4.49976L12.6464 1.35331C12.4512 1.15805 12.4512 0.841465 12.6464 0.646202Z" fill="white"/>
                </svg>
              </span>
            </a>
          </div>
        </article>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</section>

{% set currentPage = productList.posts.currentPage %}
{% set lastPage = productList.posts.lastPage %}
{% set perPage = productList.posts.perPage %}
{% set total = productList.posts.total %}
{% set items = productList.posts.items|length %}
{%
  partial 'shared/pagination'
    currentPage = currentPage
    lastPage = lastPage
    perPage = perPage
    total = total
    items = items
%}