title = "Chi tiết sản phẩm"
url = "/product/:slug"
layout = "default"
description = "Thông tin chi tiết sản phẩm của công ty"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = 404

[blogPosts related]
pageNumber = "{{ :page }}"
categoryFilter = "product"
postsPerPage = 6
noPostsMessage = "Không có sản phẩm nào."
sortOrder = "updated_at desc"
categoryPage = "blog/category"
postPage = "product-detail"

[seoModel]

[viewBag]
localeDescription[ja] = "当社商品の詳細な情報"
==
<div class="dt-breadcrumb container text-lg">
  <a href="{{'home'|page}}" class="font-semibold">{{'common.homepage'|_}}</a>
  <img src="{{'assets/images/icons/chevron-right.svg'|theme}}" class="inline-block px-4">
  <a href="{{'product'|page}}" class="font-semibold">{{'common.productSystem'|_}}</a>
</div>

<div class="container">
  <div class="main-wrapper flex flex-wrap -mx-4 lg:-mx-8">
    <section class="dt-product--post py-8 w-full md:w-2/3 lg:w-3/4 px-4 lg:px-8">
      <article class="mb-8">
        <h1 class="text-3xl font-bold mb-4">{{post.title}}</h1>
        <section class="dt-product--post__body">
          {{post.content|raw}}
        </section>
      </article>
      <div class="block md:hidden hr my-6"></div>
    </section>

    {% set relatedPosts = posts|filter(p => p.id != post.id) %}
    {% set numDisplay = 5 %}
    {% if relatedPosts is not empty %}
    <div class="dt-product--related w-full md:w-1/3 lg:w-1/4 px-4 lg:px-8">
      <div class="aside-wrapper py-4 md:py-8 bg-transparent md:bg-gray-200">
        <h2 class="font-semibold text-lg px-4 mb-6 text-center md:text-left uppercase">{{'product.related'|_}}</h2>
        {% for _post in relatedPosts %}
          {% if loop.index0 < numDisplay %}
          <article class="mb-4 relative overflow-hidden br-10-px md:rounded-none">
            <div class="dt-product__item-thumb">
              <a href="{{_post.url}}" title="{{_post.title}}">
              {% if _post.featured_images.count %}
                {% set coverImg = _post.featured_images.first %}
                <img class="mx-auto lazy"
                    width="360"
                    height="240"
                    data-src="{{coverImg.path|resize(360, 240, { mode: 'crop', extension: 'jpg', quality: '80' })}}"
                    data-srcset="{{coverImg.path|resize(360, 240, { mode: 'crop', extension: 'jpg', quality: '80' })}} 360w,
                                  {{coverImg.path|resize(480, 320, { mode: 'crop', extension: 'jpg', quality: '80' })}} 480w"
                    data-sizes="(max-width: 480px) 480px, 360px"
                    alt="{{ coverImg.description }}"/>
                {% else %}
                <img class="mx-auto"
                  src="{{'assets/images/placeholder.jpg'|theme}}" width="640" height="640"
                  alt="{{_post.title}}"/>
              {% endif %}
              </a>
            </div>
            <h3 class="p-8 md:px-2 md:py-4 uppercase font-semibold absolute inset-x-0 bottom-0 bg-black bg-opacity-50 md:bg-transparent md:static text-white md:text-current">
              <a href="{{_post.url}}">{{_post.title}}</a>
            </h3>
          </article>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>