/**
 <!--************************************************************-->
 <!-- Designed  &  Developed by COLORGB    http://colorgb.com    -->
 <!-- giaphv@colorgb.com, hoangdv@colorgb.com, datnt@colorgb.com -->
 <!--************************************************************-->
 */
@import url(../fonts/roboto-gh-pages/roboto.css);
.bootstrap-dialog .modal-header{border-top-left-radius:4px;border-top-right-radius:4px}.bootstrap-dialog .bootstrap-dialog-title{color:#fff;display:inline-block;font-size:16px}.bootstrap-dialog .bootstrap-dialog-message{font-size:14px}.bootstrap-dialog .bootstrap-dialog-button-icon{margin-right:3px}.bootstrap-dialog .bootstrap-dialog-close-button{font-size:20px;float:right;opacity:.9;filter:alpha(opacity=90)}.bootstrap-dialog .bootstrap-dialog-close-button:hover{cursor:pointer;opacity:1;filter:alpha(opacity=100)}.bootstrap-dialog.type-default .modal-header{background-color:#fff}.bootstrap-dialog.type-default .bootstrap-dialog-title{color:#333}.bootstrap-dialog.type-info .modal-header{background-color:#5bc0de}.bootstrap-dialog.type-primary .modal-header{background-color:#337ab7}.bootstrap-dialog.type-success .modal-header{background-color:#5cb85c}.bootstrap-dialog.type-warning .modal-header{background-color:#f0ad4e}.bootstrap-dialog.type-danger .modal-header{background-color:#d9534f}.bootstrap-dialog.size-large .bootstrap-dialog-title{font-size:24px}.bootstrap-dialog.size-large .bootstrap-dialog-close-button{font-size:30px}.bootstrap-dialog.size-large .bootstrap-dialog-message{font-size:18px}.bootstrap-dialog .icon-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.btn-success.text-success{
    color: #fff !important;
}
* {
    border-radius: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

#colorgb-pjax .colorgb-container .colorgb-report {
    max-width: initial;
    margin: auto;
}
input[type="file"]{
    /* display: none !important; */
}

.colorgb-report-panel {
}

.colorgb-report-panel .chart-responsive {
}

.colorgb-report i {
    font-size: 11px;
}

.colorgb-report .text-center.text-uppercase {
    margin-left: 35px;
}

.colorgb-container .colorgb-report {
    max-width: 1000px;
    margin: auto;
}

.content-wrapper .icon-object,
.navbar-nav > .dropdown-user img,
.btn-rounded, .btn-rounded.btn-labeled > b, .badge {
    border-radius: 100% !important;

}

.select2-selection--multiple .select2-selection__choice {
    background-color: #00a651;
}

.invoice-payment table th:first-child {
    width: 65% !important;
}

.detail-view th:first-child {
    width: 25% !important;
    min-width: 200px !important;
}

.kv-grid-table td .badge {
    margin-right: 5px;
}

.content-wrapper * {
    border-radius: 0 !important;
}

.panel .table-responsive {
    /* margin-bottom: 30px; */
}

.mce-flow-layout-item.mce-last {
    display: none !important;
}

body {
    font-family: Roboto;
}

.navbar-inverse {
    background-color: #00a651;
    border-color: #00a651;
    height: 46px;
    /* padding-top: 2px; */
}

.navbar-inverse .navbar-brand {
    padding: 7px 10px;
}

.navbar-brand > img {
    margin-top: 5px;
    height: 20px;
}

.sidebar-xs .sidebar-default .navigation-main > li > a > span {
    background-color: #00a651;
    border-color: #00a651;
}

.sidebar-default .navigation > li.active > a, .sidebar-default .navigation > li.active > a:hover, .sidebar-default .navigation > li.active > a:focus {
    background-color: #00a651;
}

.page-title .position-right .breadcrumb {
    margin-left: 16px;
}

.has-error .select2-container {
    border: 1px solid #D84315 !important;
}

.btn-block {
    margin-bottom: 20px;
}

.pace .pace-progress {
    background: #fff200;
    position: fixed;
    z-index: 9999999999;
    top: 0;
    width: 100%;
    right: 100%;
    height: 2px;
}

.pace-done .pace .pace-progress {
    display: none;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: 10px;
}

.table {
    margin-bottom: 10px;
}

.table .media-left,
.table .media-left img {
    width: 80px;
    height: 80px;
}

.has-success .select2-selection--single:not([class*=bg-]):not([class*=border-]) {
    border-color: #43A047;
}

.site-logo {
}

.site-logo img {
    display: block;
    margin: 10px auto 50px;
    width: 170px;
}

.content-wrapper .table-bordered tr:first-child > th {
    border-left: 0;
}

.content-wrapper .panel-footer {
    border: 0;
    padding-bottom: 10px;
    text-align: right;
}

.sidebar-main .dropdown-backdrop {
    display: none;
}

.content-wrapper h3.panel-title,
.content-wrapper .h3.panel-title {
    font-size: 15px;
}

.content-wrapper .panel-heading .summary {
    margin-top: 3px;
}

.content-wrapper .table th a {
    font-weight: bold;
    /* text-transform: capitalize; */
}

.modal-body {
    padding: 30px;
}

.sidebar-main {
    z-index: 66666;
}

.navbar-fixed-top {
    z-index: 99999;
}

.navbar-nav > li > .dropdown-menu {
    z-index: 88888;
}

.modal-open .modal {
    z-index: 999999999 !important;
}

.modal-backdrop {
    z-index: 99999999 !important;
}

#bolt-due {
    display: none;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e155";
}

a.desc:after {
    content: "\e156";
}

.beta-brown {
    background-color: #EFEBE9;
}

#modelsearchorder-note {
    min-width: 110px;
}

.kv-expand-detail-row > td {
    position: relative;
}

.kv-grid-table thead {
    background: #fff;
}

.modal-dialog .modal-content .close {
    font-size: 26px;
    position: absolute;
    right: 10px;
    top: 2px;
    z-index: 99999999;
    /* color: #fff; */
}

.modal-dialog .modal-content .modal-body {
    /* padding: 30px 0; */
}

.modal-dialog .modal-content {
    box-shadow: none;
    /* background-color: transparent; */
    border: 0;
    /* padding: 10px; */
}

.modal-dialog iframe {
    display: block;
    margin: 0 auto;
}

/*
 * Component: Small Box
 * --------------------
 */
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.small-box > .inner {
    padding: 10px;
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box p {
    font-size: 15px;
}

.small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
}

.small-box h3,
.small-box p {
    z-index: 5;
}

.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}

.small-box .icon i,
.small-box:hover .icon {
    font-size: 95px !important;
}

@media (max-width: 767px) {
    .small-box {
        /* text-align: center; */
        margin-bottom: 0;
    }

    .small-box .icon {
        /* display: none; */
    }

    .small-box p {
        font-size: 12px;
    }
}

.login-container .btn.display-block {
    width: 100%;
}

.login-container {
    background: #00a651;
    color: #eee;
}

.login-container .error {
    color: #eee;
}

.login-container .error a {
    color: #fff;
}

.login-container .footer {
    color: #ccc;
}

.login-container .footer a:hover {

}

.login-container .footer a {
    color: #f0f0f0;
}

.kv-grid-table .bolt-label {
    padding: 2px 5px;
    font-size: 11px;
    float: left;
    display: block;
    width: 100%;
    text-align: center;
}

.has-success .select2-selection--multiple:not([class*=bg-]):not([class*=border-]) {
    border-color: #43A047;
}

.form-group .col-sm-6 {
    max-width: 550px;
}

.panel text[transform="rotate(-90)"] {
    /* display: none !important; */
}

.content-wrapper .table-bordered tr > th {
    color: #1E88E5;
    font-weight: 700;
}

td h6 {
    margin: 5px 0;
    font-size: 14px;
}

textarea.form-control {
    max-width: 100%;
    height: 90px;
}

td h5 {
    margin: 2px 0;
}

.form-group .col-sm-7 {
    max-width: 550px;
}

.sidebar-default .navigation li > hr {
    margin: 0;
}

.input-group-btn > .btn,
.kv-fileinput-caption {
    padding: 5px 12px;
}

label {
    margin-bottom: 6px;
    font-weight: 600;
    color: #1E88E5;
}

.modal-header {
    padding: 10px !important;
}

.bootstrap-touchspin .btn {
    height: 36px;
}

.login-form .text-right a {
    margin-top: 8px;
    display: block;
}

.bolt-order-form .media-preview {
    width: 80px;
    height: auto;
    max-height: inherit !important;
}

.kv-editable,
.kv-editable-value.kv-editable-link {
    display: block !important;
    width: 100% !important;
    text-align: left;
}

#navbar-second-toggle > ul > li.active {
    border-bottom: 1px solid #00a651;
}

.kv-grid-table .skip-export a {
    margin: 2px 5px;
}

.kv-grid-table strong,
.kv-grid-table p {
    margin-bottom: 2px;
}

textarea.form-control {
    overflow-x: hidden;
}

.colorgb-show {
    display: table-cell !important;
}

.select2-results > .select2-results__options {
    overflow-x: hidden !important;
}

.select2-result-repository__meta {
    margin-left: 45px;
}

.select2-result-repository__avatar {
    float: left;
    width: 40px;
    margin-right: 5px;
}

.kv-grid-table .skip-export a[disabled="disabled"] {
    /* cursor: not-allowed; */
    pointer-events: none;
    opacity: .5;
}

.select2-selection--single {
    padding: 5px 0;
}

.select2-selection--single,
.form-control {
    height: 32px;
}

.table-8-10 th {
    width: 12.5%;
}

.table-4-10 th {
    width: 25%;
}
.navbar-nav > li > .dropdown-menu hr{
    margin: 5px 0 !important;
}
.file-preview{
    overflow: hidden;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 10px 15px;
}
#tableAddRow .has-error .form-control,
#tableAddRow .has-error .select2-container {
    border-color: #2196f3 !important;
}
.form-control.disabled{
    background-color: #fafafa !important;
    color: #999 !important;
    pointer-events: none !important;
}

optgroup {
    font-weight: bold;
    margin: 15px 0;
}

.table-lg > thead > tr > th, .table-lg > tbody > tr > th, .table-lg > tfoot > tr > th, .table-lg > thead > tr > td, .table-lg > tbody > tr > td, .table-lg > tfoot > tr > td {
    padding: 10px 20px;
}

.panel-heading {
    padding: 10px 20px;
    /* font-size: 16px; */
}

.btn-toolbar .btn {
    padding: 5px 8px;
    font-size: 11px;
}

.has-error .input-group-btn .btn-file {
    border-color: #D84315;
}

.field-contracttype-file_upload label:after,
.form-group.required > label:after {
    content: " * ";
    color: red;
}

.badge.bg-warning-400 {
    background-color: #FF7043 !important;
    border-color: #FF7043 !important;
    color: #fff !important;
    border-radius: 100% !important;
    width: 18px;
}

small.display-block {
    line-height: 1.3;
}

.list-user-group .list-group-item.active p,
.list-user-group .list-group-item:hover p {
    color: #fff !important;
}

.kv-editable-value.kv-editable-link em {
    display: none;
}

.list-user-group {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.kv-date-remove {
    display: none;
}

.list-group {
    border: 0 !important;
}

.list-user-group .list-group-item:hover a,
.list-group-item.active a {
    color: #fff;
    display: block;
}

.list-user-group .list-group-item:hover {
    z-index: 2;
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.gj-tree-bootstrap-3 ul.gj-list-bootstrap li {
    border: 0 !important;
}

ul.gj-list-bootstrap li.active [data-role=display] {
    color: #fff;
}

.list-group-item a {
    display: block;
}

.list-group-item {
    border: 1px solid #ddd !important;
}

#permissionform-permission_role {
    height: 500px;
}

.form-horizontal .control-label[class*=col-sm-] {
    padding-top: 0px;
}

.colorgb-pjax-action-del {
    /* display: none !important; */
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
    pointer-events: none;
    cursor: default;
}
.colorgb-pjax-action-del.colorgb-pjax-action-del-show {
    /* display: inline-block !important; */
}

@media all and (min-width: 1200px) {
    .login-container .login-form {
        width: 400px;
    }

    .table-responsive {
        overflow: hidden;
    }

    .modal-lg {
        width: 900px;
    }
}

@media all and (max-width: 768px) {

    .colorgb-report-panel {
    }

    .colorgb-report-panel .mb-20 {
        width: 100% !important;
        min-width: initial !important;
    }

    .colorgb-report-panel h3 {
        font-size: 16px;
    }

    .colorgb-report-panel .chart-responsive {
        overflow-x: auto;
    }

    .kv-grid-table thead {
        display: none !important;
    }

    .btn-toolbar > .btn {
        margin-bottom: 6px;
    }

    .panel > .table-responsive > .table-bordered > tbody > tr:last-child {
        border: 0;
    }

    .media-left, .media-right, .media-body {
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        display: block;
    }

    .panel > .table-responsive > .table-bordered > tbody > tr {
        border-bottom: 1px solid #ccc;
    }

    .panel > .table-responsive > .table-bordered > tbody > tr > td {
        border: 0;
        text-align: left;
    }

    .navbar-inverse .navbar-text {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        text-align: left;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #333;
    }

    .navbar-header .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-inverse .navbar-collapse {
        background-color: #fff;
        z-index: 99999;
        position: relative;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu a,
    .navbar-inverse .navbar-nav .open .dropdown-menu {
        color: #333 !important;
        background-color: #fafafa;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navbar-inverse .navbar-nav .label, .navbar-inverse .navbar-nav .badge, .navbar-inverse .navbar-nav .label:hover, .navbar-inverse .navbar-nav .badge:hover, .navbar-inverse .navbar-nav .label:focus, .navbar-inverse .navbar-nav .badge:focus {
        background-color: #FF7043;
        border-color: #FF7043;
        color: #fff;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: rgba(255, 255, 255, 0.42);
        color: #333;
    }

    .kv-grid-table .kv-expand-icon-cell {
        display: none !important;
    }

    .kv-grid-table .bolt-label {
        margin-bottom: 20px !important;
    }
}
